#Imports

In [ ]:
import pandas as pd
import numpy as np
import collections


import warnings
warnings.filterwarnings('ignore')
import glob
import numpy as np
import pandas as pd
import itertools


from datetime import datetime
from sklearn import preprocessing
from sklearn.linear_model import Lasso
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC 
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import LeaveOneOut
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

from numpy import random

import joblib

#Preprocessing the data

P VALUE PREPROCESSING

In [ ]:
#The data should have snp number as column header, along with the phenotype(disease or no disease data), along with the p value and the first and second allele

In [ ]:
file = '/content/drive/MyDrive/Identifying Diseases Using ML /preprocessed_matrix.csv'
data = pd.read_csv(file, sep = ' ')

data = data.set_index('usersid')
snps = data.columns
snps = snps[:-1]
data = data[snps]
n_samples = 128

In [ ]:
data.head()

,rs7541950,rs7541956,rs7542025,rs7542028,rs7542082,rs754217,rs7542208,rs7542239,rs754224,rs7542242,...,rs751062,rs751082,rs751104,rs751114,rs7511209,rs751128,rs7511306,rs7511364,rs751137,rs7511662
usersid,,,,,,,,,,,,,,,,,,,,,
user123,TT,GG,AG,CT,TT,CT,AG,AG,GG,CT,...,CT,CC,GT,GG,GG,TT,AA,AA,AA,CC
user285,TT,GG,AG,TT,TT,CC,AG,AG,GT,CT,...,CT,AC,GG,AG,GG,CT,AG,AG,AC,CC
user2849,CT,AG,AG,CC,CT,CC,AG,AA,GG,CC,...,CT,AC,TT,AG,GG,CT,GG,AG,AA,TT
user1,CC,GG,GG,CC,TT,CT,AG,AG,GG,CT,...,CC,AC,GT,AG,GG,CT,AA,GG,CC,CC
user26,CT,GG,GG,CC,CT,CT,GG,GG,GT,TT,...,CC,CC,TT,AG,GG,CT,GG,AA,AA,CT

In [ ]:
allele_freq = []
hetero = 0
ind_hetero = []
counter = 0

for snp in snps:
    print('SNP NUMBER:', counter)
    genotype_count = data[snp].value_counts().to_dict()     #Take the snp columns, and get the unique value counts ie the frequency of the users
    genotypes = data[snp].unique()                          #Genotypes is the array of unique snps               
    n_genotypes = len(genotypes)                            #Count of different types of genotypes
    genotypes = sorted(genotypes)
    if n_genotypes > 3:                                     #This condition is for making the heterozygous genotypes consistent
        het1 = genotype_count[genotypes[1]]                 #Count of hetero 1 
        het2 = genotype_count[genotypes[2]]                 #Count of hetero 2
        hetero = het1 + het2                                #Count of both heteros together
        genotype_count[genotypes[1]] = hetero               
        del genotype_count[genotypes[2]]
        genotypes.remove(genotypes[2])
    
    for key in genotype_count:                          #This is for normalizing the count?
        genotype_count[key] = genotype_count[key]/n_samples
    
    print('Observation', genotype_count)
    genotype_count = collections.OrderedDict(sorted(genotype_count.items()))

    if len(genotypes) == 3:                             #All three are present, by frequency count which one is more, set that as the primary allele with the class number 1
        allele_A = genotype_count[genotypes[0]] + (genotype_count[genotypes[1]] * 0.5)
        allele_B = genotype_count[genotypes[2]] + (genotype_count[genotypes[1]] * 0.5)
        print('allele:', allele_A)
        print('allele', allele_B)
        if allele_B > allele_A:
            encode = np.array([3,2,1])
        else:
            encode = np.array([1,2,3])
    
    elif len(genotypes) == 2:               #If only two homozygous or one homozygous alleles are present
        encode = np.array([1,2])
    else:
        encode = np.array([1,2])
    
    genotype_dict = dict(zip(genotypes, encode))    
    data[snp] = data[snp].map(genotype_dict)
    print(data[snp].head())
    counter = counter + 1
    # if counter>5000:
    #     break

Streaming output truncated to the last 5000 lines.
user26      1
Name: rs17017593, dtype: int64
SNP NUMBER: 65928
Observation {'GG': 0.8046875, 'GT': 0.1640625, 'TT': 0.03125}
allele: 0.88671875
allele 0.11328125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17017634, dtype: int64
SNP NUMBER: 65929
Observation {'GG': 0.8046875, 'AG': 0.15625, 'AA': 0.0390625}
allele: 0.1171875
allele 0.8828125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17017668, dtype: int64
SNP NUMBER: 65930
Observation {'TT': 0.609375, 'CT': 0.3359375, 'CC': 0.0546875}
allele: 0.22265625
allele 0.77734375
usersid
user123     1
user285     1
user2849    1
user1       2
user26      2
Name: rs17017733, dtype: int64
SNP NUMBER: 65931
Observation {'TT': 0.6953125, 'CT': 0.2421875, 'CC': 0.0625}
allele: 0.18359375
allele 0.81640625
usersid
user123     1
user285     1
user2849    1
user1       2
user26      2
Name: rs17017756, dtype: int64
SNP NUMBER: 65932
Observation {'GG': 0.4765625, 'AG': 0.4453125, 'AA': 0.078125}
allele: 0.30078125
allele 0.69921875
usersid
user123     2
user285     2
user2849    1
user1       3
user26      1
Name: rs17017809, dtype: int64
SNP NUMBER: 65933
Observation {'GG': 0.7890625, 'AG': 0.1953125, 'AA': 0.015625}
allele: 0.11328125
allele 0.88671875
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs17017810, dtype: int64
SNP NUMBER: 65934
Observation {'AA': 0.875, 'AG': 0.125}
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs17017931, dtype: int64
SNP NUMBER: 65935
Observation {'GG': 0.7734375, 'AG': 0.2109375, 'AA': 0.015625}
allele: 0.12109375
allele 0.87890625
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs17018078, dtype: int64
SNP NUMBER: 65936
Observation {'AA': 1.0}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17018191, dtype: int64
SNP NUMBER: 65937
Observation {'AG': 0.515625, 'AA': 0.2734375, 'GG': 0.2109375}
allele: 0.53125
allele 0.46875
usersid
user123     2
user285     1
user2849    2
user1       1
user26      3
Name: rs170183, dtype: int64
SNP NUMBER: 65938
Observation {'CC': 0.5390625, 'CT': 0.40625, 'TT': 0.0546875}
allele: 0.7421875
allele 0.2578125
usersid
user123     2.0
user285     2.0
user2849    2.0
user1       1.0
user26      1.0
Name: rs17018345, dtype: float64
SNP NUMBER: 65939
Observation {'GG': 0.6640625, 'AG': 0.3046875, 'AA': 0.03125}
allele: 0.18359375
allele 0.81640625
usersid
user123     1
user285     2
user2849    1
user1       2
user26      2
Name: rs17018450, dtype: int64
SNP NUMBER: 65940
Observation {'AA': 0.734375, 'AG': 0.2421875, 'GG': 0.0234375}
allele: 0.85546875
allele 0.14453125
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs17018468, dtype: int64
SNP NUMBER: 65941
Observation {'GG': 0.9921875, 'AG': 0.0078125}
usersid
user123     2
user285     2
user2849    2
user1       2
user26      2
Name: rs17018470, dtype: int64
SNP NUMBER: 65942
Observation {'CC': 0.765625, 'AC': 0.21875, 'AA': 0.015625}
allele: 0.125
allele 0.875
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs17018481, dtype: int64
SNP NUMBER: 65943
Observation {'TT': 0.7265625, 'CT': 0.265625, 'CC': 0.0078125}
allele: 0.140625
allele 0.859375
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs17018517, dtype: float64
SNP NUMBER: 65944
Observation {'TT': 0.8671875, 'GT': 0.125, 'GG': 0.0078125}
allele: 0.0703125
allele 0.9296875
usersid
user123     1
user285     2
user2849    1
user1       1
user26      1
Name: rs17018886, dtype: int64
SNP NUMBER: 65945
Observation {'AA': 0.875, 'AG': 0.125}
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs17018894, dtype: int64
SNP NUMBER: 65946
Observation {'TT': 0.734375, 'CT': 0.2421875, 'CC': 0.0234375}
allele: 0.14453125
allele 0.85546875
usersid
user123     2
user285     2
user2849    1
user1       2
user26      1
Name: rs17019212, dtype: int64
SNP NUMBER: 65947
Observation {'AA': 0.5859375, 'AG': 0.375, 'GG': 0.0390625}
allele: 0.7734375
allele 0.2265625
usersid
user123     1
user285     2
user2849    2
user1       1
user26      2
Name: rs17019283, dtype: int64
SNP NUMBER: 65948
Observation {'GG': 0.984375, 'AG': 0.015625}
usersid
user123     2
user285     2
user2849    2
user1       2
user26      2
Name: rs17019339, dtype: int64
SNP NUMBER: 65949
Observation {'CT': 0.484375, 'TT': 0.3984375, 'CC': 0.1171875}
allele: 0.359375
allele 0.640625
usersid
user123     2.0
user285     2.0
user2849    2.0
user1       1.0
user26      3.0
Name: rs17019409, dtype: float64
SNP NUMBER: 65950
Observation {'TT': 0.8515625, 'CT': 0.140625, 'CC': 0.0078125}
allele: 0.078125
allele 0.921875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17019442, dtype: int64
SNP NUMBER: 65951
Observation {'GG': 0.859375, 'AG': 0.1328125, 'AA': 0.0078125}
allele: 0.07421875
allele 0.92578125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17019466, dtype: int64
SNP NUMBER: 65952
Observation {'AA': 0.546875, 'AG': 0.3671875, 'GG': 0.0859375}
allele: 0.73046875
allele 0.26953125
usersid
user123     2
user285     2
user2849    2
user1       2
user26      1
Name: rs17019664, dtype: int64
SNP NUMBER: 65953
Observation {'TT': 0.5, 'CT': 0.4140625, 'CC': 0.0859375}
allele: 0.29296875
allele 0.70703125
usersid
user123     3.0
user285     2.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs1701970, dtype: float64
SNP NUMBER: 65954
Observation {'TT': 0.7578125, 'CT': 0.234375, 'CC': 0.0078125}
allele: 0.125
allele 0.875
usersid
user123     1.0
user285     1.0
user2849    2.0
user1       1.0
user26      1.0
Name: rs17019763, dtype: float64
SNP NUMBER: 65955
Observation {'AA': 0.5546875, 'AG': 0.359375, 'GG': 0.0859375}
allele: 0.734375
allele 0.265625
usersid
user123     1
user285     1
user2849    2
user1       3
user26      2
Name: rs17019855, dtype: int64
SNP NUMBER: 65956
Observation {'GG': 0.7734375, 'AG': 0.2109375, 'AA': 0.015625}
allele: 0.12109375
allele 0.87890625
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17019859, dtype: int64
SNP NUMBER: 65957
Observation {'CC': 0.8828125, 'CT': 0.109375, 'TT': 0.0078125}
allele: 0.9375
allele 0.0625
usersid
user123     1
user285     1
user2849    1
user1       3
user26      1
Name: rs1702002, dtype: int64
SNP NUMBER: 65958
Observation {'GG': 0.7109375, 'AG': 0.2578125, 'AA': 0.03125}
allele: 0.16015625
allele 0.83984375
usersid
user123     1
user285     1
user2849    1
user1       2
user26      2
Name: rs17020183, dtype: int64
SNP NUMBER: 65959
Observation {'AG': 0.4375, 'AA': 0.421875, 'GG': 0.140625}
allele: 0.640625
allele 0.359375
usersid
user123     2
user285     3
user2849    2
user1       1
user26      1
Name: rs17020288, dtype: int64
SNP NUMBER: 65960
Observation {'TT': 0.546875, 'CT': 0.375, 'CC': 0.078125}
allele: 0.265625
allele 0.734375
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       2.0
user26      1.0
Name: rs17020294, dtype: float64
SNP NUMBER: 65961
Observation {'GG': 0.90625, 'AG': 0.0859375, 'AA': 0.0078125}
allele: 0.05078125
allele 0.94921875
usersid
user123     1
user285     1
user2849    3
user1       1
user26      2
Name: rs17020623, dtype: int64
SNP NUMBER: 65962
Observation {'AA': 0.90625, 'AG': 0.09375}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17020631, dtype: int64
SNP NUMBER: 65963
Observation {'AA': 0.953125, 'AG': 0.046875}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17020652, dtype: int64
SNP NUMBER: 65964
Observation {'CC': 0.8984375, 'CT': 0.1015625}
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs17020791, dtype: int64
SNP NUMBER: 65965
Observation {'GG': 0.4609375, 'AG': 0.3828125, 'AA': 0.15625}
allele: 0.34765625
allele 0.65234375
usersid
user123     2
user285     1
user2849    2
user1       1
user26      3
Name: rs17020855, dtype: int64
SNP NUMBER: 65966
Observation {'TT': 0.875, 'GT': 0.1171875, 'GG': 0.0078125}
allele: 0.06640625
allele 0.93359375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17020888, dtype: int64
SNP NUMBER: 65967
Observation {'CC': 0.7265625, 'AC': 0.25, 'AA': 0.0234375}
allele: 0.1484375
allele 0.8515625
usersid
user123     1
user285     2
user2849    2
user1       1
user26      1
Name: rs17020895, dtype: int64
SNP NUMBER: 65968
Observation {'AG': 0.546875, 'GG': 0.3046875, 'AA': 0.1484375}
allele: 0.421875
allele 0.578125
usersid
user123     2
user285     2
user2849    2
user1       3
user26      2
Name: rs170209, dtype: int64
SNP NUMBER: 65969
Observation {'CC': 0.9921875, 'CT': 0.0078125}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17020954, dtype: int64
SNP NUMBER: 65970
Observation {'GG': 0.78125, 'GT': 0.1953125, 'TT': 0.0234375}
allele: 0.87890625
allele 0.12109375
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs17020960, dtype: int64
SNP NUMBER: 65971
Observation {'CC': 0.90625, 'CT': 0.0859375, 'TT': 0.0078125}
allele: 0.94921875
allele 0.05078125
usersid
user123     1
user285     2
user2849    2
user1       1
user26      1
Name: rs17021120, dtype: int64
SNP NUMBER: 65972
Observation {'AA': 0.7890625, 'AG': 0.1953125, 'GG': 0.015625}
allele: 0.88671875
allele 0.11328125
usersid
user123     2
user285     1
user2849    2
user1       2
user26      1
Name: rs17021481, dtype: int64
SNP NUMBER: 65973
Observation {'CC': 0.953125, 'CT': 0.046875}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17021710, dtype: int64
SNP NUMBER: 65974
Observation {'TT': 0.6875, 'CT': 0.2265625, 'CC': 0.0859375}
allele: 0.19921875
allele 0.80078125
usersid
user123     1.0
user285     2.0
user2849    2.0
user1       1.0
user26      1.0
Name: rs17021734, dtype: float64
SNP NUMBER: 65975
Observation {'AA': 0.8671875, 'AG': 0.125, 'GG': 0.0078125}
allele: 0.9296875
allele 0.0703125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17021840, dtype: int64
SNP NUMBER: 65976
Observation {'CC': 0.71875, 'CT': 0.2265625, 'TT': 0.0546875}
allele: 0.83203125
allele 0.16796875
usersid
user123     1.0
user285     2.0
user2849    1.0
user1       2.0
user26      1.0
Name: rs17021869, dtype: float64
SNP NUMBER: 65977
Observation {'AA': 0.4375, 'AG': 0.4296875, 'GG': 0.1328125}
allele: 0.65234375
allele 0.34765625
usersid
user123     1
user285     2
user2849    2
user1       1
user26      1
Name: rs170219, dtype: int64
SNP NUMBER: 65978
Observation {'GG': 0.7578125, 'AG': 0.2265625, 'AA': 0.015625}
allele: 0.12890625
allele 0.87109375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17021908, dtype: int64
SNP NUMBER: 65979
Observation {'AG': 0.453125, 'GG': 0.4375, 'AA': 0.109375}
allele: 0.3359375
allele 0.6640625
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs17021941, dtype: int64
SNP NUMBER: 65980
Observation {'AA': 0.6640625, 'AC': 0.296875, 'CC': 0.0390625}
allele: 0.8125
allele 0.1875
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs17022166, dtype: int64
SNP NUMBER: 65981
Observation {'CC': 0.6640625, 'CT': 0.2734375, 'TT': 0.0625}
allele: 0.80078125
allele 0.19921875
usersid
user123     1
user285     1
user2849    2
user1       2
user26      1
Name: rs17022254, dtype: int64
SNP NUMBER: 65982
Observation {'CC': 0.9609375, 'CT': 0.0390625}
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs17022256, dtype: int64
SNP NUMBER: 65983
Observation {'GG': 0.78125, 'AG': 0.1875, 'AA': 0.03125}
allele: 0.125
allele 0.875
usersid
user123     1
user285     2
user2849    1
user1       1
user26      3
Name: rs17022316, dtype: int64
SNP NUMBER: 65984
Observation {'GG': 0.7734375, 'AG': 0.21875, 'AA': 0.0078125}
allele: 0.1171875
allele 0.8828125
usersid
user123     1
user285     1
user2849    2
user1       1
user26      2
Name: rs17022367, dtype: int64
SNP NUMBER: 65985
Observation {'AA': 0.875, 'AC': 0.125}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17022390, dtype: int64
SNP NUMBER: 65986
Observation {'AA': 0.8125, 'AG': 0.1875}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17022408, dtype: int64
SNP NUMBER: 65987
Observation {'CC': 0.7734375, 'CT': 0.203125, 'TT': 0.0234375}
allele: 0.875
allele 0.125
usersid
user123     2
user285     1
user2849    2
user1       2
user26      1
Name: rs17022500, dtype: int64
SNP NUMBER: 65988
Observation {'AA': 0.796875, 'AG': 0.1875, 'GG': 0.015625}
allele: 0.890625
allele 0.109375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17022545, dtype: int64
SNP NUMBER: 65989
Observation {'TT': 0.7734375, 'CT': 0.203125, 'CC': 0.0234375}
allele: 0.125
allele 0.875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17022621, dtype: int64
SNP NUMBER: 65990
Observation {'AA': 0.8046875, 'AG': 0.1796875, 'GG': 0.015625}
allele: 0.89453125
allele 0.10546875
usersid
user123     1
user285     1
user2849    1
user1       3
user26      1
Name: rs17022684, dtype: int64
SNP NUMBER: 65991
Observation {'GG': 0.859375, 'GT': 0.1328125, 'TT': 0.0078125}
allele: 0.92578125
allele 0.07421875
usersid
user123     1
user285     1
user2849    1
user1       2
user26      2
Name: rs17022724, dtype: int64
SNP NUMBER: 65992
Observation {'AA': 0.84375, 'AG': 0.15625}
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs17022809, dtype: int64
SNP NUMBER: 65993
Observation {'CC': 0.8046875, 'CT': 0.171875, 'TT': 0.0234375}
allele: 0.890625
allele 0.109375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17022885, dtype: int64
SNP NUMBER: 65994
Observation {'TT': 0.75, 'CT': 0.2265625, 'CC': 0.0234375}
allele: 0.13671875
allele 0.86328125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      2
Name: rs17022928, dtype: int64
SNP NUMBER: 65995
Observation {'CC': 0.8828125, 'CT': 0.109375, 'TT': 0.0078125}
allele: 0.9375
allele 0.0625
usersid
user123     1
user285     1
user2849    1
user1       1
user26      2
Name: rs17023025, dtype: int64
SNP NUMBER: 65996
Observation {'AA': 0.75, 'AG': 0.2265625, 'GG': 0.0234375}
allele: 0.86328125
allele 0.13671875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      2
Name: rs17023054, dtype: int64
SNP NUMBER: 65997
Observation {'AG': 0.5078125, 'AA': 0.4765625, 'GG': 0.015625}
allele: 0.73046875
allele 0.26953125
usersid
user123     1
user285     2
user2849    1
user1       2
user26      2
Name: rs17023082, dtype: int64
SNP NUMBER: 65998
Observation {'AA': 0.90625, 'AG': 0.0859375, 'GG': 0.0078125}
allele: 0.94921875
allele 0.05078125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17023089, dtype: int64
SNP NUMBER: 65999
Observation {'CC': 0.640625, 'CT': 0.296875, 'TT': 0.0625}
allele: 0.7890625
allele 0.2109375
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs17023120, dtype: int64
SNP NUMBER: 66000
Observation {'GG': 0.7734375, 'AG': 0.2109375, 'AA': 0.015625}
allele: 0.12109375
allele 0.87890625
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17023155, dtype: int64
SNP NUMBER: 66001
Observation {'CC': 0.5234375, 'CT': 0.40625, 'TT': 0.0703125}
allele: 0.7265625
allele 0.2734375
usersid
user123     2.0
user285     1.0
user2849    2.0
user1       1.0
user26      1.0
Name: rs17023204, dtype: float64
SNP NUMBER: 66002
Observation {'CC': 0.546875, 'AC': 0.3984375, 'AA': 0.0546875}
allele: 0.25390625
allele 0.74609375
usersid
user123     1
user285     2
user2849    2
user1       2
user26      1
Name: rs17023218, dtype: int64
SNP NUMBER: 66003
Observation {'AA': 0.8984375, 'AC': 0.1015625}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17023226, dtype: int64
SNP NUMBER: 66004
Observation {'TT': 0.65625, 'GT': 0.3203125, 'GG': 0.0234375}
allele: 0.18359375
allele 0.81640625
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       2.0
user26      1.0
Name: rs17023344, dtype: float64
SNP NUMBER: 66005
Observation {'CC': 0.640625, 'CT': 0.3046875, 'TT': 0.0546875}
allele: 0.79296875
allele 0.20703125
usersid
user123     1
user285     3
user2849    2
user1       1
user26      1
Name: rs1702339, dtype: int64
SNP NUMBER: 66006
Observation {'GG': 0.6015625, 'AG': 0.3828125, 'AA': 0.015625}
allele: 0.20703125
allele 0.79296875
usersid
user123     2
user285     2
user2849    1
user1       1
user26      2
Name: rs17106413, dtype: int64
SNP NUMBER: 66007
Observation {'AA': 0.796875, 'AG': 0.1953125, 'GG': 0.0078125}
allele: 0.89453125
allele 0.10546875
usersid
user123     2
user285     1
user2849    1
user1       1
user26      2
Name: rs17106448, dtype: int64
SNP NUMBER: 66008
Observation {'CC': 0.8828125, 'CT': 0.1015625, 'TC': 0.015625}
allele: 0.93359375
allele 0.06640625
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs17106449, dtype: int64
SNP NUMBER: 66009
Observation {'TT': 0.96875, 'CT': 0.0234375, 'CC': 0.0078125}
allele: 0.01953125
allele 0.98046875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17106472, dtype: int64
SNP NUMBER: 66010
Observation {'GG': 0.609375, 'AG': 0.3515625, 'AA': 0.0390625}
allele: 0.21484375
allele 0.78515625
usersid
user123     1
user285     1
user2849    2
user1       1
user26      2
Name: rs17106478, dtype: int64
SNP NUMBER: 66011
Observation {'TT': 0.921875, 'CT': 0.0703125, 'CC': 0.0078125}
allele: 0.04296875
allele 0.95703125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17106483, dtype: int64
SNP NUMBER: 66012
Observation {'AA': 0.734375, 'AC': 0.25, 'CC': 0.015625}
allele: 0.859375
allele 0.140625
usersid
user123     1
user285     1
user2849    2
user1       1
user26      2
Name: rs17106672, dtype: int64
SNP NUMBER: 66013
Observation {'GG': 1.0}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17106733, dtype: int64
SNP NUMBER: 66014
Observation {'AG': 0.453125, 'AA': 0.3125, 'GG': 0.234375}
allele: 0.5390625
allele 0.4609375
usersid
user123     1
user285     3
user2849    2
user1       2
user26      2
Name: rs17106769, dtype: int64
SNP NUMBER: 66015
Observation {'AA': 0.9453125, 'AC': 0.0546875}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs17106813, dtype: int64
SNP NUMBER: 66016
Observation {'CC': 0.65625, 'CT': 0.3203125, 'TT': 0.0234375}
allele: 0.81640625
allele 0.18359375
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs17106850, dtype: float64
SNP NUMBER: 66017
Observation {'TT': 0.9921875, 'CT': 0.0078125}
usersid
user123     2
user285     2
user2849    2
user1       2
user26      2
Name: rs17106864, dtype: int64
SNP NUMBER: 66018
Observation {'CC': 0.890625, 'CT': 0.109375}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      2
Name: rs17106906, dtype: int64
SNP NUMBER: 66019
Observation {'TT': 0.65625, 'CT': 0.3046875, 'CC': 0.0390625}
allele: 0.19140625
allele 0.80859375
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      2.0
Name: rs17106995, dtype: float64
SNP NUMBER: 66020
Observation {'GG': 0.6015625, 'AG': 0.3515625, 'AA': 0.046875}
allele: 0.22265625
allele 0.77734375
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1

In [ ]:
data["Class"] = 0
for i in range(len(data)):
    data["Class"][i] = random.randint(2)

#print(data["Class"].nunique())

In [ ]:
outfile = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_allsnp.csv'
data.to_csv(outfile,sep=' ')

In [ ]:
outfile = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_allsnp2.csv'
data.to_csv(outfile,sep=',')

In [ ]:
outfile = 'encoded_allsnp.csv'
data.to_csv(outfile, sep = ' ')

In [ ]:
outfile = 'encoded_allsnp2.csv'
data.to_csv(outfile, sep = ',')

#Functions

In [ ]:
def convertLabel(data):
	label_maker = LabelEncoder()
	data['Encode'] = label_maker.fit_transform(data['Class'])

In [ ]:
def knn(X_train, y_train, X_test):
	scaler = StandardScaler()  
	scaler.fit(X_train)

	X_train = scaler.transform(X_train)  
	X_test = scaler.transform(X_test)

	classifier = KNeighborsClassifier(n_neighbors=k)  
	classifier.fit(X_train, y_train) 
	return classifier.predict(X_test)

In [ ]:
def GBC(X_train, y_train, X_test):
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    classifier = GradientBoostingClassifier(n_estimators=500,learning_rate=0.05,random_state=100,max_features=5)
    classifier.fit(X_train,y_train)
    return classifier.predict(X_test)

#RF-Model

##RF KNN

In [ ]:
#first use rf for snp feature selection
#Then apply KNN

In [ ]:
start = datetime.now()
data_file = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_classallsnp.csv'         #Get the encoded and preprocessed snp dataset
data = pd.read_csv(data_file, sep = ' ')                                                        
data = data.drop('usersid', axis=1)
data = data.replace(np.NaN, 0)                      #Remove illegal values

snp = data.columns.values
snp = snp[:-1]
X = data[snp].values

In [ ]:
correct = 0
mismatch = 0
y_pred = []
n_features = 400
k = 7                       #Number of clusters
counter = 0
n_samples = 128
y_true = []

In [ ]:
convertLabel(data)
y = data['Encode'].values

In [ ]:
loo = LeaveOneOut()
loo.get_n_splits(X)

for train_index, test_index in loo.split(X):						#Use cross validation and make multiple splits of the datasets
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]

	fs = RandomForestClassifier(max_features = 500, n_estimators=200, random_state=42)				#Make a random forest classifier
	fs.fit(X_train, y_train)													
	ranking = dict(zip(snp, fs.feature_importances_))												#Take the top snps
	ranking = dict(itertools.islice(ranking.items(), n_features))											
	top_snp = list(ranking.keys())																#Take the top snps
	top_snp = np.asarray(top_snp)

	X_train = data.drop(test_index)																#Create training and testing data 
	X_train = X_train[top_snp].values
	X_test = data.reindex(test_index)
	X_test = X_test[top_snp].values

	tmp = knn(X_train, y_train, X_test)														#Use knn classifier
	
	y_pred.append(tmp[0])
	y_true.append(y_test)
	print (counter, '===========================')
	print('Prediction:', tmp)
	print('True label', y_test[0])

	counter = counter + 1
	

y_pred = np.asarray(y_pred)
y_true = np.asarray(y_true)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
print('Number of SNPs:', n_features)
print('Accuracy using of rf-knn', accuracy)
print('Precision using of rf-knn', accuracy)
print('Recall using of rf-knn', accuracy)
print('\nConfusion matrix of k-nearest neighbors (kNN) optimized on the test data:')
print(pd.DataFrame(confusion_matrix(y_true, y_pred),
      columns=['pred_pos', 'pred_neg'], index=['pos', 'neg']))
print('Run-time', datetime.now() - start)

0 ===========================
Prediction: [0]
True label 0
1 ===========================
Prediction: [0]
True label 0
2 ===========================
Prediction: [0]
True label 0
3 ===========================
Prediction: [0]
True label 0
4 ===========================
Prediction: [0]
True label 0
5 ===========================
Prediction: [0]
True label 0
6 ===========================
Prediction: [0]
True label 0
7 ===========================
Prediction: [0]
True label 0
8 ===========================
Prediction: [0]
True label 0
9 ===========================
Prediction: [0]
True label 0
10 ===========================
Prediction: [0]
True label 0
11 ===========================
Prediction: [0]
True label 0
12 ===========================
Prediction: [0]
True label 0
13 ===========================
Prediction: [0]
True label 0
14 ===========================
Prediction: [0]
True label 0
15 ===========================
Prediction: [0]
True label 0
16 ===========================
Prediction: [0]
True label 0
17 ===========================
Prediction: [0]
True label 0
18 ===========================
Prediction: [0]
True label 0
19 ===========================
Prediction: [0]
True label 0
20 ===========================
Prediction: [0]
True label 0
21 ===========================
Prediction: [0]
True label 0
22 ===========================
Prediction: [0]
True label 0
23 ===========================
Prediction: [0]
True label 0
24 ===========================
Prediction: [0]
True label 0
25 ===========================
Prediction: [0]
True label 0
26 ===========================
Prediction: [0]
True label 0
27 ===========================
Prediction: [0]
True label 0
28 ===========================
Prediction: [0]
True label 0
29 ===========================
Prediction: [0]
True label 0
30 ===========================
Prediction: [0]
True label 0
31 ===========================
Prediction: [0]
True label 0
32 ===========================
Prediction: [0]
True label 0
33 ===========================
Prediction: [0]
True label 0
34 ===========================
Prediction: [0]
True label 0
35 ===========================
Prediction: [0]
True label 0
36 ===========================
Prediction: [0]
True label 0
37 ===========================
Prediction: [0]
True label 0
38 ===========================
Prediction: [0]
True label 0
39 ===========================
Prediction: [0]
True label 0
40 ===========================
Prediction: [0]
True label 0
41 ===========================
Prediction: [0]
True label 0
42 ===========================
Prediction: [0]
True label 0
43 ===========================
Prediction: [0]
True label 0
44 ===========================
Prediction: [0]
True label 0
45 ===========================
Prediction: [0]
True label 0
46 ===========================
Prediction: [0]
True label 0
47 ===========================
Prediction: [0]
True label 0
48 ===========================
Prediction: [0]
True label 0
49 ===========================
Prediction: [0]
True label 0
50 ===========================
Prediction: [0]
True label 0
51 ===========================
Prediction: [0]
True label 0
52 ===========================
Prediction: [0]
True label 0
53 ===========================
Prediction: [0]
True label 0
54 ===========================
Prediction: [0]
True label 0
55 ===========================
Prediction: [0]
True label 0
56 ===========================
Prediction: [0]
True label 0
57 ===========================
Prediction: [0]
True label 0
58 ===========================
Prediction: [0]
True label 0
59 ===========================
Prediction: [0]
True label 0
60 ===========================
Prediction: [0]
True label 0
61 ===========================
Prediction: [0]
True label 0
62 ===========================
Prediction: [0]
True label 0
63 ===========================
Prediction: [0]
True label 0
64 ===========================
Prediction: [0]
True label 0
65 ===========================
Prediction: [0]
True label 0
66 ===========================
Prediction: [0]
True label 0
67 ===========================
Prediction: [0]
True label 0
68 ===========================
Prediction: [0]
True label 0
69 ===========================
Prediction: [0]
True label 0
70 ===========================
Prediction: [0]
True label 0
71 ===========================
Prediction: [0]
True label 0
72 ===========================
Prediction: [0]
True label 0
73 ===========================
Prediction: [0]
True label 0
74 ===========================
Prediction: [0]
True label 0
75 ===========================
Prediction: [0]
True label 0
76 ===========================
Prediction: [0]
True label 0
77 ===========================
Prediction: [0]
True label 0
78 ===========================
Prediction: [0]
True label 0
79 ===========================
Prediction: [0]
True label 0
80 ===========================
Prediction: [0]
True label 0
81 ===========================
Prediction: [0]
True label 0
82 ===========================
Prediction: [0]
True label 0
83 ===========================
Prediction: [0]
True label 0
84 ===========================
Prediction: [0]
True label 0
85 ===========================
Prediction: [0]
True label 0
86 ===========================
Prediction: [0]
True label 0
87 ===========================
Prediction: [0]
True label 0
88 ===========================
Prediction: [0]
True label 0
89 ===========================
Prediction: [0]
True label 0
90 ===========================
Prediction: [0]
True label 0
91 ===========================
Prediction: [0]
True label 0
92 ===========================
Prediction: [0]
True label 0
93 ===========================
Prediction: [0]
True label 0
94 ===========================
Prediction: [0]
True label 0
95 ===========================
Prediction: [0]
True label 0
96 ===========================
Prediction: [0]
True label 0
97 ===========================
Prediction: [0]
True label 0
98 ===========================
Prediction: [0]
True label 0
99 ===========================
Prediction: [0]
True label 0
100 ===========================
Prediction: [0]
True label 0
101 ===========================
Prediction: [0]
True label 0
102 ===========================
Prediction: [0]
True label 0
103 ===========================
Prediction: [0]
True label 0
104 ===========================
Prediction: [0]
True label 0
105 ===========================
Prediction: [0]
True label 0
106 ===========================
Prediction: [0]
True label 0
107 ===========================
Prediction: [0]
True label 0
108 ===========================
Prediction: [0]
True label 0
109 ===========================
Prediction: [0]
True label 0
110 ===========================
Prediction: [0]
True label 0
111 ===========================
Prediction: [0]
True label 0
112 ===========================
Prediction: [0]
True label 0
113 ===========================
Prediction: [0]
True label 0
114 ===========================
Prediction: [0]
True label 0
115 ===========================
Prediction: [0]
True label 0
116 ===========================
Prediction: [0]
True label 0
117 ===========================
Prediction: [0]
True label 0
118 ===========================
Prediction: [0]
True label 0
119 ===========================
Prediction: [0]
True label 0
120 ===========================
Prediction: [0]
True label 0
121 ===========================
Prediction: [0]
True label 0
122 ===========================
Prediction: [0]
True label 0
123 ===========================
Prediction: [0]
True label 0
124 ===========================
Prediction: [0]
True label 0
125 ===========================
Prediction: [0]
True label 0
126 ===========================
Prediction: [0]
True label 0
127 ===========================
Prediction: [0]
True label 0
128 ===========================
Prediction: [0]
True label 1
129 ===========================
Prediction: [0]
True label 0
130 ===========================
Prediction: [0]
True label 0
131 ===========================
Prediction: [0]
True label 1
132 ===========================
Prediction: [0]
True label 0
133 ===========================
Prediction: [0]
True label 1
134 ===========================
Prediction: [0]
True label 1
135 ===========================
Prediction: [0]
True label 1
136 ===========================
Prediction: [0]
True label 1
137 ===========================
Prediction: [1]
True label 0
138 ===========================
Prediction: [1]
True label 0
139 ===========================
Prediction: [1]
True label 0
140 ===========================
Prediction: [1]
True label 0
141 ===========================
Prediction: [1]
True label 0
142 ===========================
Prediction: [0]
True label 1
143 ===========================
Prediction: [0]
True label 1
144 ===========================
Prediction: [0]
True label 0
145 ===========================
Prediction: [0]
True label 0
146 ===========================
Prediction: [0]
True label 1
147 ===========================
Prediction: [0]
True label 1
148 ===========================
Prediction: [0]
True label 0
149 ===========================
Prediction: [0]
True label 0
150 ===========================
Prediction: [0]
True label 0
151 ===========================
Prediction: [0]
True label 0
152 ===========================
Prediction: [0]
True label 0
153 ===========================
Prediction: [0]
True label 0
154 ===========================
Prediction: [0]
True label 0
155 ===========================
Prediction: [0]
True label 0
156 ===========================
Prediction: [0]
True label 1
157 ===========================
Prediction: [0]
True label 1
158 ===========================
Prediction: [0]
True label 1
159 ===========================
Prediction: [0]
True label 1
160 ===========================
Prediction: [0]
True label 0
161 ===========================
Prediction: [0]
True label 1
162 ===========================
Prediction: [0]
True label 1
163 ===========================
Prediction: [0]
True label 0
164 ===========================
Prediction: [0]
True label 1
165 ===========================
Prediction: [0]
True label 1
166 ===========================
Prediction: [0]
True label 0
167 ===========================
Prediction: [0]
True label 1
168 ===========================
Prediction: [0]
True label 0
169 ===========================
Prediction: [0]
True label 0
170 ===========================
Prediction: [0]
True label 0
171 ===========================
Prediction: [0]
True label 0
172 ===========================
Prediction: [0]
True label 0
173 ===========================
Prediction: [0]
True label 1
174 ===========================
Prediction: [0]
True label 1
175 ===========================
Prediction: [0]
True label 1
176 ===========================
Prediction: [0]
True label 1
177 ===========================
Prediction: [0]
True label 1
178 ===========================
Prediction: [0]
True label 1
179 ===========================
Prediction: [0]
True label 0
180 ===========================
Prediction: [0]
True label 1
181 ===========================
Prediction: [0]
True label 1
182 ===========================
Prediction: [0]
True label 0
183 ===========================
Prediction: [0]
True label 0
184 ===========================
Prediction: [0]
True label 0
185 ===========================
Prediction: [0]
True label 0
186 ===========================
Prediction: [0]
True label 1
187 ===========================
Prediction: [0]
True label 0
188 ===========================
Prediction: [0]
True label 1
189 ===========================
Prediction: [0]
True label 1
190 ===========================
Prediction: [0]
True label 1
191 ===========================
Prediction: [0]
True label 0
192 ===========================
Prediction: [0]
True label 1
193 ===========================
Prediction: [0]
True label 1
194 ===========================
Prediction: [0]
True label 0
195 ===========================
Prediction: [0]
True label 0
196 ===========================
Prediction: [0]
True label 0
197 ===========================
Prediction: [0]
True label 1
198 ===========================
Prediction: [0]
True label 1
199 ===========================
Prediction: [0]
True label 0
200 ===========================
Prediction: [0]
True label 0
201 ===========================
Prediction: [0]
True label 1
202 ===========================
Prediction: [0]
True label 0
203 ===========================
Prediction: [0]
True label 1
204 ===========================
Prediction: [0]
True label 1
205 ===========================
Prediction: [0]
True label 0
206 ===========================
Prediction: [0]
True label 1
207 ===========================
Prediction: [0]
True label 1
208 ===========================
Prediction: [0]
True label 1
209 ===========================
Prediction: [0]
True label 1
210 ===========================
Prediction: [0]
True label 1
211 ===========================
Prediction: [0]
True label 1
212 ===========================
Prediction: [0]
True label 0
213 ===========================
Prediction: [0]
True label 0
214 ===========================
Prediction: [0]
True label 1
215 ===========================
Prediction: [0]
True label 0
216 ===========================
Prediction: [0]
True label 1
217 ===========================
Prediction: [0]
True label 1
218 ===========================
Prediction: [0]
True label 0
219 ===========================
Prediction: [0]
True label 0
220 ===========================
Prediction: [0]
True label 0
221 ===========================
Prediction: [0]
True label 1
222 ===========================
Prediction: [0]
True label 1
223 ===========================
Prediction: [0]
True label 1
224 ===========================
Prediction: [0]
True label 0
225 ===========================
Prediction: [0]
True label 0
226 ===========================
Prediction: [0]
True label 0
227 ===========================
Prediction: [0]
True label 0
228 ===========================
Prediction: [0]
True label 0
229 ===========================
Prediction: [0]
True label 1
230 ===========================
Prediction: [0]
True label 0
231 ===========================
Prediction: [0]
True label 0
232 ===========================
Prediction: [0]
True label 0
233 ===========================
Prediction: [0]
True label 1
234 ===========================
Prediction: [0]
True label 1
235 ===========================
Prediction: [0]
True label 0
236 ===========================
Prediction: [0]
True label 0
237 ===========================
Prediction: [0]
True label 1
238 ===========================
Prediction: [0]
True label 0
239 ===========================
Prediction: [0]
True label 0
240 ===========================
Prediction: [0]
True label 1
241 ===========================
Prediction: [0]
True label 1
242 ===========================
Prediction: [0]
True label 0
243 ===========================
Prediction: [0]
True label 1
244 ===========================
Prediction: [0]
True label 0
245 ===========================
Prediction: [0]
True label 1
246 ===========================
Prediction: [0]
True label 1
247 ===========================
Prediction: [0]
True label 1
248 ===========================
Prediction: [0]
True label 0
249 ===========================
Prediction: [0]
True label 0
250 ===========================
Prediction: [0]
True label 1
251 ===========================
Prediction: [0]
True label 0
252 ===========================
Prediction: [0]
True label 0
253 ===========================
Prediction: [0]
True label 0
254 ===========================
Prediction: [0]
True label 1
255 ===========================
Prediction: [0]
True label 0
Number of SNPs: 400
Accuracy using of rf-knn 0.73828125
Precision using of rf-knn 0.73828125
Recall using of rf-knn 0.73828125

Confusion matrix of k-nearest neighbors (kNN) optimized on the test data:
     pred_pos  pred_neg
pos       189         5
neg        62         0
Run-time 3:01:05.496651

##RF SVM

In [ ]:
start = datetime.now()
data_file = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_classallsnp.csv'         #Get the encoded and preprocessed snp dataset
data = pd.read_csv(data_file, sep = ' ')                                                        
data = data.drop('usersid', axis=1)
data = data.replace(np.NaN, 0)                      #Remove illegal values

snp = data.columns.values
snp = snp[:-1]
X = data[snp].values

In [ ]:
kernel = 'rbf'
c = 100
ep = 0.001

In [ ]:
correct = 0
mismatch = 0
y_pred = []
n_features = 310
counter = 0
n_samples = 128
y_true = []

In [ ]:
convertLabel(data)
y = data['Encode'].values

In [ ]:
loo = LeaveOneOut()
loo.get_n_splits(X)

for train_index, test_index in loo.split(X):                            #Use cross validation and make multiple splits of the datasets
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]

	fs = RandomForestClassifier(max_depth = 3, n_estimators=200, random_state=42)       #Make a random forest classifier
	fs.fit(X_train, y_train)
	ranking = dict(zip(snp, fs.feature_importances_))

	ranking = dict(itertools.islice(ranking.items(), n_features))                   #Take the top snps
	top_snp = list(ranking.keys())
	top_snp = np.asarray(top_snp)
	selected_snp = pd.DataFrame(top_snp)
	outfile = '/content/drive/MyDrive/Identifying Diseases Using ML /rf-svm/snp' + str(counter) + '.csv'
	selected_snp.to_csv(outfile, sep=' ', index=False)

	X_train = data.drop(test_index)                                         #Create training and testing data
	X_train = X_train[top_snp].values
	X_test = data.reindex(test_index)
	X_test = X_test[top_snp].values

	clf = SVC()                                                 #SVM 
	#clf = SVC(kernel=kernel, gamma=ep, C=c)
	clf.fit(X_train, y_train)
	tmp = clf.predict(X_test)
	y_pred.append(tmp)
	y_true.append(y_test)
	print (counter, '===========================')
	print('Prediction:', tmp)
	print('True label', y_test[0])

	counter = counter + 1

y_pred = np.asarray(y_pred)
y_true = np.asarray(y_true)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
#print('ORDER:', order)
print('Number of SNP', n_features)
print('Parameter kernel', kernel)
print('Parameter gamma', ep)
print('Parameter C', c)
print('Accuracy using rf-svm', accuracy)
print('Precision using rf-svm', precision)
print('Recall using rf-svm', recall)
print('\nConfusion matrix of support vector machine (SVM) optimized on the test data:')
print(pd.DataFrame(confusion_matrix(y_true, y_pred),
    columns=['pred_pos', 'pred_neg'], index=['pos', 'neg']))
print('Run-time', datetime.now() - start)

0 ===========================
Prediction: [0]
True label 0
1 ===========================
Prediction: [0]
True label 0
2 ===========================
Prediction: [0]
True label 0
3 ===========================
Prediction: [0]
True label 0
4 ===========================
Prediction: [0]
True label 0
5 ===========================
Prediction: [0]
True label 0
6 ===========================
Prediction: [0]
True label 0
7 ===========================
Prediction: [0]
True label 0
8 ===========================
Prediction: [0]
True label 0
9 ===========================
Prediction: [0]
True label 0
10 ===========================
Prediction: [0]
True label 0
11 ===========================
Prediction: [0]
True label 0
12 ===========================
Prediction: [0]
True label 0
13 ===========================
Prediction: [0]
True label 0
14 ===========================
Prediction: [0]
True label 0
15 ===========================
Prediction: [0]
True label 0
16 ===========================
Prediction: [0]
True label 0
17 ===========================
Prediction: [0]
True label 0
18 ===========================
Prediction: [0]
True label 0
19 ===========================
Prediction: [0]
True label 0
20 ===========================
Prediction: [0]
True label 0
21 ===========================
Prediction: [0]
True label 0
22 ===========================
Prediction: [0]
True label 0
23 ===========================
Prediction: [0]
True label 0
24 ===========================
Prediction: [0]
True label 0
25 ===========================
Prediction: [0]
True label 0
26 ===========================
Prediction: [0]
True label 0
27 ===========================
Prediction: [0]
True label 0
28 ===========================
Prediction: [0]
True label 0
29 ===========================
Prediction: [0]
True label 0
30 ===========================
Prediction: [0]
True label 0
31 ===========================
Prediction: [0]
True label 0
32 ===========================
Prediction: [0]
True label 0
33 ===========================
Prediction: [0]
True label 0
34 ===========================
Prediction: [0]
True label 0
35 ===========================
Prediction: [0]
True label 0
36 ===========================
Prediction: [0]
True label 0
37 ===========================
Prediction: [0]
True label 0
38 ===========================
Prediction: [0]
True label 0
39 ===========================
Prediction: [0]
True label 0
40 ===========================
Prediction: [0]
True label 0
41 ===========================
Prediction: [0]
True label 0
42 ===========================
Prediction: [0]
True label 0
43 ===========================
Prediction: [0]
True label 0
44 ===========================
Prediction: [0]
True label 0
45 ===========================
Prediction: [0]
True label 0
46 ===========================
Prediction: [0]
True label 0
47 ===========================
Prediction: [0]
True label 0
48 ===========================
Prediction: [0]
True label 0
49 ===========================
Prediction: [0]
True label 0
50 ===========================
Prediction: [0]
True label 0
51 ===========================
Prediction: [0]
True label 0
52 ===========================
Prediction: [0]
True label 0
53 ===========================
Prediction: [0]
True label 0
54 ===========================
Prediction: [0]
True label 0
55 ===========================
Prediction: [0]
True label 0
56 ===========================
Prediction: [0]
True label 0
57 ===========================
Prediction: [0]
True label 0
58 ===========================
Prediction: [0]
True label 0
59 ===========================
Prediction: [0]
True label 0
60 ===========================
Prediction: [0]
True label 0
61 ===========================
Prediction: [0]
True label 0
62 ===========================
Prediction: [0]
True label 0
63 ===========================
Prediction: [0]
True label 0
64 ===========================
Prediction: [0]
True label 0
65 ===========================
Prediction: [0]
True label 0
66 ===========================
Prediction: [0]
True label 0
67 ===========================
Prediction: [0]
True label 0
68 ===========================
Prediction: [0]
True label 0
69 ===========================
Prediction: [0]
True label 0
70 ===========================
Prediction: [0]
True label 0
71 ===========================
Prediction: [0]
True label 0
72 ===========================
Prediction: [0]
True label 0
73 ===========================
Prediction: [0]
True label 0
74 ===========================
Prediction: [0]
True label 0
75 ===========================
Prediction: [0]
True label 0
76 ===========================
Prediction: [0]
True label 0
77 ===========================
Prediction: [0]
True label 0
78 ===========================
Prediction: [0]
True label 0
79 ===========================
Prediction: [0]
True label 0
80 ===========================
Prediction: [0]
True label 0
81 ===========================
Prediction: [0]
True label 0
82 ===========================
Prediction: [0]
True label 0
83 ===========================
Prediction: [0]
True label 0
84 ===========================
Prediction: [0]
True label 0
85 ===========================
Prediction: [0]
True label 0
86 ===========================
Prediction: [0]
True label 0
87 ===========================
Prediction: [0]
True label 0
88 ===========================
Prediction: [0]
True label 0
89 ===========================
Prediction: [0]
True label 0
90 ===========================
Prediction: [0]
True label 0
91 ===========================
Prediction: [0]
True label 0
92 ===========================
Prediction: [0]
True label 0
93 ===========================
Prediction: [0]
True label 0
94 ===========================
Prediction: [0]
True label 0
95 ===========================
Prediction: [0]
True label 0
96 ===========================
Prediction: [0]
True label 0
97 ===========================
Prediction: [0]
True label 0
98 ===========================
Prediction: [0]
True label 0
99 ===========================
Prediction: [0]
True label 0
100 ===========================
Prediction: [0]
True label 0
101 ===========================
Prediction: [0]
True label 0
102 ===========================
Prediction: [0]
True label 0
103 ===========================
Prediction: [0]
True label 0
104 ===========================
Prediction: [0]
True label 0
105 ===========================
Prediction: [0]
True label 0
106 ===========================
Prediction: [0]
True label 0
107 ===========================
Prediction: [0]
True label 0
108 ===========================
Prediction: [0]
True label 0
109 ===========================
Prediction: [0]
True label 0
110 ===========================
Prediction: [0]
True label 0
111 ===========================
Prediction: [0]
True label 0
112 ===========================
Prediction: [0]
True label 0
113 ===========================
Prediction: [0]
True label 0
114 ===========================
Prediction: [0]
True label 0
115 ===========================
Prediction: [0]
True label 0
116 ===========================
Prediction: [0]
True label 0
117 ===========================
Prediction: [0]
True label 0
118 ===========================
Prediction: [0]
True label 0
119 ===========================
Prediction: [0]
True label 0
120 ===========================
Prediction: [0]
True label 0
121 ===========================
Prediction: [0]
True label 0
122 ===========================
Prediction: [0]
True label 0
123 ===========================
Prediction: [0]
True label 0
124 ===========================
Prediction: [0]
True label 0
125 ===========================
Prediction: [0]
True label 0
126 ===========================
Prediction: [0]
True label 0
127 ===========================
Prediction: [0]
True label 0
128 ===========================
Prediction: [0]
True label 1
129 ===========================
Prediction: [0]
True label 0
130 ===========================
Prediction: [0]
True label 0
131 ===========================
Prediction: [0]
True label 1
132 ===========================
Prediction: [0]
True label 0
133 ===========================
Prediction: [0]
True label 1
134 ===========================
Prediction: [0]
True label 1
135 ===========================
Prediction: [0]
True label 1
136 ===========================
Prediction: [0]
True label 1
137 ===========================
Prediction: [0]
True label 0
138 ===========================
Prediction: [0]
True label 0
139 ===========================
Prediction: [0]
True label 0
140 ===========================
Prediction: [0]
True label 0
141 ===========================
Prediction: [0]
True label 0
142 ===========================
Prediction: [0]
True label 1
143 ===========================
Prediction: [0]
True label 1
144 ===========================
Prediction: [0]
True label 0
145 ===========================
Prediction: [0]
True label 0
146 ===========================
Prediction: [0]
True label 1
147 ===========================
Prediction: [0]
True label 1
148 ===========================
Prediction: [0]
True label 0
149 ===========================
Prediction: [0]
True label 0
150 ===========================
Prediction: [0]
True label 0
151 ===========================
Prediction: [0]
True label 0
152 ===========================
Prediction: [0]
True label 0
153 ===========================
Prediction: [0]
True label 0
154 ===========================
Prediction: [0]
True label 0
155 ===========================
Prediction: [0]
True label 0
156 ===========================
Prediction: [0]
True label 1
157 ===========================
Prediction: [0]
True label 1
158 ===========================
Prediction: [0]
True label 1
159 ===========================
Prediction: [0]
True label 1
160 ===========================
Prediction: [0]
True label 0
161 ===========================
Prediction: [0]
True label 1
162 ===========================
Prediction: [0]
True label 1
163 ===========================
Prediction: [0]
True label 0
164 ===========================
Prediction: [0]
True label 1
165 ===========================
Prediction: [0]
True label 1
166 ===========================
Prediction: [0]
True label 0
167 ===========================
Prediction: [0]
True label 1
168 ===========================
Prediction: [0]
True label 0
169 ===========================
Prediction: [0]
True label 0
170 ===========================
Prediction: [0]
True label 0
171 ===========================
Prediction: [0]
True label 0
172 ===========================
Prediction: [0]
True label 0
173 ===========================
Prediction: [0]
True label 1
174 ===========================
Prediction: [0]
True label 1
175 ===========================
Prediction: [0]
True label 1
176 ===========================
Prediction: [0]
True label 1
177 ===========================
Prediction: [0]
True label 1
178 ===========================
Prediction: [0]
True label 1
179 ===========================
Prediction: [0]
True label 0
180 ===========================
Prediction: [0]
True label 1
181 ===========================
Prediction: [0]
True label 1
182 ===========================
Prediction: [0]
True label 0
183 ===========================
Prediction: [0]
True label 0
184 ===========================
Prediction: [0]
True label 0
185 ===========================
Prediction: [0]
True label 0
186 ===========================
Prediction: [0]
True label 1
187 ===========================
Prediction: [0]
True label 0
188 ===========================
Prediction: [0]
True label 1
189 ===========================
Prediction: [0]
True label 1
190 ===========================
Prediction: [0]
True label 1
191 ===========================
Prediction: [0]
True label 0
192 ===========================
Prediction: [0]
True label 1
193 ===========================
Prediction: [0]
True label 1
194 ===========================
Prediction: [0]
True label 0
195 ===========================
Prediction: [0]
True label 0
196 ===========================
Prediction: [0]
True label 0
197 ===========================
Prediction: [0]
True label 1
198 ===========================
Prediction: [0]
True label 1
199 ===========================
Prediction: [0]
True label 0
200 ===========================
Prediction: [0]
True label 0
201 ===========================
Prediction: [0]
True label 1
202 ===========================
Prediction: [0]
True label 0
203 ===========================
Prediction: [0]
True label 1
204 ===========================
Prediction: [0]
True label 1
205 ===========================
Prediction: [0]
True label 0
206 ===========================
Prediction: [0]
True label 1
207 ===========================
Prediction: [0]
True label 1
208 ===========================
Prediction: [0]
True label 1
209 ===========================
Prediction: [0]
True label 1
210 ===========================
Prediction: [0]
True label 1
211 ===========================
Prediction: [0]
True label 1
212 ===========================
Prediction: [0]
True label 0
213 ===========================
Prediction: [0]
True label 0
214 ===========================
Prediction: [0]
True label 1
215 ===========================
Prediction: [0]
True label 0
216 ===========================
Prediction: [0]
True label 1
217 ===========================
Prediction: [0]
True label 1
218 ===========================
Prediction: [0]
True label 0
219 ===========================
Prediction: [0]
True label 0
220 ===========================
Prediction: [0]
True label 0
221 ===========================
Prediction: [0]
True label 1
222 ===========================
Prediction: [0]
True label 1
223 ===========================
Prediction: [0]
True label 1
224 ===========================
Prediction: [0]
True label 0
225 ===========================
Prediction: [0]
True label 0
226 ===========================
Prediction: [0]
True label 0
227 ===========================
Prediction: [0]
True label 0
228 ===========================
Prediction: [0]
True label 0
229 ===========================
Prediction: [0]
True label 1
230 ===========================
Prediction: [0]
True label 0
231 ===========================
Prediction: [0]
True label 0
232 ===========================
Prediction: [0]
True label 0
233 ===========================
Prediction: [0]
True label 1
234 ===========================
Prediction: [0]
True label 1
235 ===========================
Prediction: [0]
True label 0
236 ===========================
Prediction: [0]
True label 0
237 ===========================
Prediction: [0]
True label 1
238 ===========================
Prediction: [0]
True label 0
239 ===========================
Prediction: [0]
True label 0
240 ===========================
Prediction: [0]
True label 1
241 ===========================
Prediction: [0]
True label 1
242 ===========================
Prediction: [0]
True label 0
243 ===========================
Prediction: [0]
True label 1
244 ===========================
Prediction: [0]
True label 0
245 ===========================
Prediction: [0]
True label 1
246 ===========================
Prediction: [0]
True label 1
247 ===========================
Prediction: [0]
True label 1
248 ===========================
Prediction: [0]
True label 0
249 ===========================
Prediction: [0]
True label 0
250 ===========================
Prediction: [0]
True label 1
251 ===========================
Prediction: [0]
True label 0
252 ===========================
Prediction: [0]
True label 0
253 ===========================
Prediction: [0]
True label 0
254 ===========================
Prediction: [0]
True label 1
255 ===========================
Prediction: [0]
True label 0
Number of SNP 310
Parameter kernel rbf
Parameter gamma 0.001
Parameter C 100
Accuracy using rf-svm 0.7578125
Precision using rf-svm 0.0
Recall using rf-svm 0.0

Confusion matrix of support vector machine (SVM) optimized on the test data:
     pred_pos  pred_neg
pos       194         0
neg        62         0
Run-time 3:44:31.531822

##RF-GBT

In [ ]:
start = datetime.now()
data_file = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_classallsnp.csv'         #Get the encoded and preprocessed snp dataset
data = pd.read_csv(data_file, sep = ' ')                                                        
data = data.drop('usersid', axis=1)
data = data.replace(np.NaN, 0)                      #Remove illegal values

snp = data.columns.values
snp = snp[:-1]
X = data[snp].values

In [ ]:
correct = 0
mismatch = 0
y_pred = []
n_features = 400
k = 7                       #Number of clusters
counter = 0
n_samples = 128
y_true = []

In [ ]:
# classifier = GradientBoostingClassifier(criterion='friedman_mse',init=None,learning_rate=0.05,
    #                                         loss='deviance',max_depth=3,max_features=5,min_samples_split=2,n_estimaors=500)
    #                                         max_leaf_nodes=None,
    #                                         min_impurity_decrease=0.0,min_samples_leaf=1,
    #                                         min_samples_split=2,min_weight_fraction_leaf=0.0,n_estimators=500,
    #                                         n_iter_no_change=None,presort='auto',random_state=100,subsample=1.0,tol=0.0001,validation_fraction=0.1,verbose=0,warm_start=False)
    # classifier = GradientBoostingClassifier(criterion='friedman_mse',init=None,learning_rate=0.05, 
    #                                         loss='deviance', max_depth=3,max_features=5, max_leaf_nodes=None,
    #                                         min_impurity_decrease=0.0, min_impurity_split=None,min_samples_leaf=1,
    #                                         min_samples_split=2,min_weight_fraction_leaf=0.0, n_estimators=500,n_iter_no_change=None, 
    #                                         presort='auto',random_state=100, subsample=1.0, tol=0.0001,validation_fraction=0.1, 
    #                                         verbose=0,warm_start=False)

In [ ]:
convertLabel(data)
y = data['Encode'].values

In [ ]:
loo = LeaveOneOut()
loo.get_n_splits(X)

for train_index, test_index in loo.split(X):						#Use cross validation and make multiple splits of the datasets
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]

	fs = RandomForestClassifier(max_features = 500, n_estimators=200, random_state=42)				#Make a random forest classifier
	fs.fit(X_train, y_train)													
	ranking = dict(zip(snp, fs.feature_importances_))												#Take the top snps
	ranking = dict(itertools.islice(ranking.items(), n_features))											
	top_snp = list(ranking.keys())																#Take the top snps
	top_snp = np.asarray(top_snp)

	X_train = data.drop(test_index)																#Create training and testing data 
	X_train = X_train[top_snp].values
	X_test = data.reindex(test_index)
	X_test = X_test[top_snp].values

	tmp = GBC(X_train, y_train, X_test)														#Use knn classifier
	
	y_pred.append(tmp[0])
	y_true.append(y_test)
	print (counter, '===========================')
	print('Prediction:', tmp)
	print('True label', y_test[0])

	counter = counter + 1
	

y_pred = np.asarray(y_pred)
y_true = np.asarray(y_true)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
print('Number of SNPs:', n_features)
print('Accuracy using of rf-knn', accuracy)
print('Precision using of rf-knn', accuracy)
print('Recall using of rf-knn', accuracy)
print('\nConfusion matrix of k-nearest neighbors (kNN) optimized on the test data:')
print(pd.DataFrame(confusion_matrix(y_true, y_pred),
      columns=['pred_pos', 'pred_neg'], index=['pos', 'neg']))
print('Run-time', datetime.now() - start)

0 ===========================
Prediction: [0]
True label 0
1 ===========================
Prediction: [0]
True label 0
2 ===========================
Prediction: [0]
True label 0
3 ===========================
Prediction: [0]
True label 0
4 ===========================
Prediction: [0]
True label 0
5 ===========================
Prediction: [0]
True label 0
6 ===========================
Prediction: [0]
True label 0
7 ===========================
Prediction: [0]
True label 0
8 ===========================
Prediction: [0]
True label 0
9 ===========================
Prediction: [0]
True label 0
10 ===========================
Prediction: [0]
True label 0
11 ===========================
Prediction: [0]
True label 0
12 ===========================
Prediction: [0]
True label 0
13 ===========================
Prediction: [0]
True label 0
14 ===========================
Prediction: [0]
True label 0
15 ===========================
Prediction: [0]
True label 0
16 ===========================
Prediction: [0]
True label 0
17 ===========================
Prediction: [0]
True label 0
18 ===========================
Prediction: [0]
True label 0
19 ===========================
Prediction: [0]
True label 0
20 ===========================
Prediction: [0]
True label 0
21 ===========================
Prediction: [0]
True label 0
22 ===========================
Prediction: [0]
True label 0
23 ===========================
Prediction: [0]
True label 0
24 ===========================
Prediction: [0]
True label 0
25 ===========================
Prediction: [0]
True label 0
26 ===========================
Prediction: [0]
True label 0
27 ===========================
Prediction: [0]
True label 0
28 ===========================
Prediction: [0]
True label 0
29 ===========================
Prediction: [0]
True label 0
30 ===========================
Prediction: [0]
True label 0
31 ===========================
Prediction: [0]
True label 0
32 ===========================
Prediction: [0]
True label 0
33 ===========================
Prediction: [0]
True label 0
34 ===========================
Prediction: [0]
True label 0
35 ===========================
Prediction: [0]
True label 0
36 ===========================
Prediction: [0]
True label 0
37 ===========================
Prediction: [0]
True label 0
38 ===========================
Prediction: [0]
True label 0
39 ===========================
Prediction: [0]
True label 0
40 ===========================
Prediction: [0]
True label 0
41 ===========================
Prediction: [0]
True label 0
42 ===========================
Prediction: [0]
True label 0
43 ===========================
Prediction: [0]
True label 0
44 ===========================
Prediction: [0]
True label 0
45 ===========================
Prediction: [0]
True label 0
46 ===========================
Prediction: [0]
True label 0
47 ===========================
Prediction: [0]
True label 0
48 ===========================
Prediction: [0]
True label 0
49 ===========================
Prediction: [0]
True label 0
50 ===========================
Prediction: [0]
True label 0
51 ===========================
Prediction: [0]
True label 0
52 ===========================
Prediction: [0]
True label 0
53 ===========================
Prediction: [0]
True label 0
54 ===========================
Prediction: [0]
True label 0
55 ===========================
Prediction: [0]
True label 0
56 ===========================
Prediction: [0]
True label 0
57 ===========================
Prediction: [0]
True label 0
58 ===========================
Prediction: [0]
True label 0
59 ===========================
Prediction: [0]
True label 0
60 ===========================
Prediction: [0]
True label 0
61 ===========================
Prediction: [0]
True label 0
62 ===========================
Prediction: [0]
True label 0
63 ===========================
Prediction: [0]
True label 0
64 ===========================
Prediction: [0]
True label 0
65 ===========================
Prediction: [0]
True label 0
66 ===========================
Prediction: [0]
True label 0
67 ===========================
Prediction: [0]
True label 0
68 ===========================
Prediction: [0]
True label 0
69 ===========================
Prediction: [0]
True label 0
70 ===========================
Prediction: [0]
True label 0
71 ===========================
Prediction: [0]
True label 0
72 ===========================
Prediction: [0]
True label 0
73 ===========================
Prediction: [0]
True label 0
74 ===========================
Prediction: [0]
True label 0
75 ===========================
Prediction: [0]
True label 0
76 ===========================
Prediction: [0]
True label 0
77 ===========================
Prediction: [0]
True label 0
78 ===========================
Prediction: [0]
True label 0
79 ===========================
Prediction: [0]
True label 0
80 ===========================
Prediction: [0]
True label 0
81 ===========================
Prediction: [0]
True label 0
82 ===========================
Prediction: [0]
True label 0
83 ===========================
Prediction: [0]
True label 0
84 ===========================
Prediction: [0]
True label 0
85 ===========================
Prediction: [0]
True label 0
86 ===========================
Prediction: [0]
True label 0
87 ===========================
Prediction: [0]
True label 0
88 ===========================
Prediction: [0]
True label 0
89 ===========================
Prediction: [0]
True label 0
90 ===========================
Prediction: [0]
True label 0
91 ===========================
Prediction: [0]
True label 0
92 ===========================
Prediction: [0]
True label 0
93 ===========================
Prediction: [0]
True label 0
94 ===========================
Prediction: [0]
True label 0
95 ===========================
Prediction: [0]
True label 0
96 ===========================
Prediction: [0]
True label 0
97 ===========================
Prediction: [0]
True label 0
98 ===========================
Prediction: [0]
True label 0
99 ===========================
Prediction: [0]
True label 0
100 ===========================
Prediction: [0]
True label 0
101 ===========================
Prediction: [0]
True label 0
102 ===========================
Prediction: [0]
True label 0
103 ===========================
Prediction: [0]
True label 0
104 ===========================
Prediction: [0]
True label 0
105 ===========================
Prediction: [0]
True label 0
106 ===========================
Prediction: [0]
True label 0
107 ===========================
Prediction: [0]
True label 0
108 ===========================
Prediction: [0]
True label 0
109 ===========================
Prediction: [0]
True label 0
110 ===========================
Prediction: [0]
True label 0
111 ===========================
Prediction: [0]
True label 0
112 ===========================
Prediction: [0]
True label 0
113 ===========================
Prediction: [0]
True label 0
114 ===========================
Prediction: [0]
True label 0
115 ===========================
Prediction: [0]
True label 0
116 ===========================
Prediction: [0]
True label 0
117 ===========================
Prediction: [0]
True label 0
118 ===========================
Prediction: [0]
True label 0
119 ===========================
Prediction: [0]
True label 0
120 ===========================
Prediction: [0]
True label 0
121 ===========================
Prediction: [0]
True label 0
122 ===========================
Prediction: [0]
True label 0
123 ===========================
Prediction: [0]
True label 0
124 ===========================
Prediction: [0]
True label 0
125 ===========================
Prediction: [0]
True label 0
126 ===========================
Prediction: [0]
True label 0
127 ===========================
Prediction: [0]
True label 0
128 ===========================
Prediction: [0]
True label 1
129 ===========================
Prediction: [0]
True label 0
130 ===========================
Prediction: [0]
True label 0
131 ===========================
Prediction: [0]
True label 1
132 ===========================
Prediction: [0]
True label 0
133 ===========================
Prediction: [0]
True label 1
134 ===========================
Prediction: [0]
True label 1
135 ===========================
Prediction: [0]
True label 1
136 ===========================
Prediction: [0]
True label 1
137 ===========================
Prediction: [0]
True label 0
138 ===========================
Prediction: [0]
True label 0
139 ===========================
Prediction: [0]
True label 0
140 ===========================
Prediction: [0]
True label 0
141 ===========================
Prediction: [0]
True label 0
142 ===========================
Prediction: [0]
True label 1
143 ===========================
Prediction: [0]
True label 1
144 ===========================
Prediction: [0]
True label 0
145 ===========================
Prediction: [0]
True label 0
146 ===========================
Prediction: [0]
True label 1
147 ===========================
Prediction: [0]
True label 1
148 ===========================
Prediction: [0]
True label 0
149 ===========================
Prediction: [0]
True label 0
150 ===========================
Prediction: [0]
True label 0
151 ===========================
Prediction: [0]
True label 0
152 ===========================
Prediction: [0]
True label 0
153 ===========================
Prediction: [0]
True label 0
154 ===========================
Prediction: [0]
True label 0
155 ===========================
Prediction: [0]
True label 0
156 ===========================
Prediction: [0]
True label 1
157 ===========================
Prediction: [0]
True label 1
158 ===========================
Prediction: [0]
True label 1
159 ===========================
Prediction: [0]
True label 1
160 ===========================
Prediction: [0]
True label 0
161 ===========================
Prediction: [0]
True label 1
162 ===========================
Prediction: [0]
True label 1
163 ===========================
Prediction: [0]
True label 0
164 ===========================
Prediction: [0]
True label 1
165 ===========================
Prediction: [0]
True label 1
166 ===========================
Prediction: [0]
True label 0
167 ===========================
Prediction: [0]
True label 1
168 ===========================
Prediction: [0]
True label 0
169 ===========================
Prediction: [0]
True label 0
170 ===========================
Prediction: [0]
True label 0
171 ===========================
Prediction: [0]
True label 0
172 ===========================
Prediction: [0]
True label 0
173 ===========================
Prediction: [0]
True label 1
174 ===========================
Prediction: [0]
True label 1
175 ===========================
Prediction: [0]
True label 1
176 ===========================
Prediction: [0]
True label 1
177 ===========================
Prediction: [0]
True label 1
178 ===========================
Prediction: [0]
True label 1
179 ===========================
Prediction: [0]
True label 0
180 ===========================
Prediction: [0]
True label 1
181 ===========================
Prediction: [0]
True label 1
182 ===========================
Prediction: [0]
True label 0
183 ===========================
Prediction: [0]
True label 0
184 ===========================
Prediction: [0]
True label 0
185 ===========================
Prediction: [0]
True label 0
186 ===========================
Prediction: [0]
True label 1
187 ===========================
Prediction: [0]
True label 0
188 ===========================
Prediction: [0]
True label 1
189 ===========================
Prediction: [0]
True label 1
190 ===========================
Prediction: [0]
True label 1
191 ===========================
Prediction: [0]
True label 0
192 ===========================
Prediction: [0]
True label 1
193 ===========================
Prediction: [0]
True label 1
194 ===========================
Prediction: [0]
True label 0
195 ===========================
Prediction: [0]
True label 0
196 ===========================
Prediction: [0]
True label 0
197 ===========================
Prediction: [0]
True label 1
198 ===========================
Prediction: [0]
True label 1
199 ===========================
Prediction: [0]
True label 0
200 ===========================
Prediction: [0]
True label 0
201 ===========================
Prediction: [0]
True label 1
202 ===========================
Prediction: [0]
True label 0
203 ===========================
Prediction: [0]
True label 1
204 ===========================
Prediction: [0]
True label 1
205 ===========================
Prediction: [0]
True label 0
206 ===========================
Prediction: [0]
True label 1
207 ===========================
Prediction: [0]
True label 1
208 ===========================
Prediction: [0]
True label 1
209 ===========================
Prediction: [0]
True label 1
210 ===========================
Prediction: [0]
True label 1
211 ===========================
Prediction: [0]
True label 1
212 ===========================
Prediction: [0]
True label 0
213 ===========================
Prediction: [0]
True label 0
214 ===========================
Prediction: [0]
True label 1
215 ===========================
Prediction: [0]
True label 0
216 ===========================
Prediction: [0]
True label 1
217 ===========================
Prediction: [0]
True label 1
218 ===========================
Prediction: [0]
True label 0
219 ===========================
Prediction: [0]
True label 0
220 ===========================
Prediction: [0]
True label 0
221 ===========================
Prediction: [0]
True label 1
222 ===========================
Prediction: [0]
True label 1
223 ===========================
Prediction: [0]
True label 1
224 ===========================
Prediction: [0]
True label 0
225 ===========================
Prediction: [0]
True label 0
226 ===========================
Prediction: [0]
True label 0
227 ===========================
Prediction: [0]
True label 0
228 ===========================
Prediction: [0]
True label 0
229 ===========================
Prediction: [0]
True label 1
230 ===========================
Prediction: [0]
True label 0
231 ===========================
Prediction: [0]
True label 0
232 ===========================
Prediction: [0]
True label 0
233 ===========================
Prediction: [0]
True label 1
234 ===========================
Prediction: [0]
True label 1
235 ===========================
Prediction: [0]
True label 0
236 ===========================
Prediction: [0]
True label 0
237 ===========================
Prediction: [0]
True label 1
238 ===========================
Prediction: [0]
True label 0
239 ===========================
Prediction: [0]
True label 0
240 ===========================
Prediction: [0]
True label 1
241 ===========================
Prediction: [0]
True label 1
242 ===========================
Prediction: [0]
True label 0
243 ===========================
Prediction: [0]
True label 1
244 ===========================
Prediction: [0]
True label 0
245 ===========================
Prediction: [0]
True label 1
246 ===========================
Prediction: [0]
True label 1
247 ===========================
Prediction: [0]
True label 1
248 ===========================
Prediction: [0]
True label 0
249 ===========================
Prediction: [0]
True label 0
250 ===========================
Prediction: [0]
True label 1
251 ===========================
Prediction: [0]
True label 0
252 ===========================
Prediction: [0]
True label 0
253 ===========================
Prediction: [0]
True label 0
254 ===========================
Prediction: [0]
True label 1
255 ===========================
Prediction: [0]
True label 0
Number of SNPs: 400
Accuracy using of rf-knn 0.7578125
Precision using of rf-knn 0.7578125
Recall using of rf-knn 0.7578125

Confusion matrix of k-nearest neighbors (kNN) optimized on the test data:
     pred_pos  pred_neg
pos       194         0
neg        62         0
Run-time 3:08:16.561779

#Lasso Model

##Lasso KNN

In [ ]:
start = datetime.now()
data_file = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_classallsnp.csv'         #Get the encoded and preprocessed snp dataset
data = pd.read_csv(data_file, sep = ' ')                                                        
data = data.drop('usersid', axis=1)
data = data.replace(np.NaN, 0)                      #Remove illegal values

snp = data.columns.values
snp = snp[:-1]
X = data[snp].values

In [ ]:
pipeline = Pipeline([
                     ('scaler',StandardScaler),
                     ('model',Lasso())
])

In [ ]:
search = GridSearchCV(pipeline,
                      {'model__alpha':np.arange(0.1,2,0.1)},
                      cv=5,
                      scoring = 'neg_mean_squared_error',
                      verbose=3
                      )

In [ ]:
convertLabel(data)
y = data['Encode'].values

NameError: ignored

In [ ]:
search.fit(X_train,y_train)

In [ ]:
search.best_params_

In [ ]:
coef = search.best_estimator_[1].coef_
importance = np.abs(coef)

In [ ]:
print(importance)

In [ ]:
np.array(features)[coef!=0]         #  selected features

In [ ]:
np.array(features)[coef==0]         #  discarded features

In [ ]:
loo = LeaveOneOut()
loo.get_n_splits(X)

for train_index, test_index in loo.split(X):						#Use cross validation and make multiple splits of the datasets
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]

	fs = RandomForestClassifier(max_features = 500, n_estimators=200, random_state=42)				#Make a random forest classifier
	search.fit(X_train, y_train)													
	ranking = dict(zip(snp, fs.feature_importances_))												#Take the top snps
	ranking = dict(itertools.islice(ranking.items(), n_features))											
	top_snp = list(ranking.keys())																#Take the top snps
	top_snp = np.asarray(top_snp)

	X_train = data.drop(test_index)																#Create training and testing data 
	X_train = X_train[top_snp].values
	X_test = data.reindex(test_index)
	X_test = X_test[top_snp].values

	tmp = knn(X_train, y_train, X_test)														#Use knn classifier
	
	y_pred.append(tmp[0])
	y_true.append(y_test)
	print (counter, '===========================')
	print('Prediction:', tmp)
	print('True label', y_test[0])

	counter = counter + 1
	

y_pred = np.asarray(y_pred)
y_true = np.asarray(y_true)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
print('Number of SNPs:', n_features)
print('Accuracy using of rf-knn', accuracy)
print('Precision using of rf-knn', accuracy)
print('Recall using of rf-knn', accuracy)
print('\nConfusion matrix of k-nearest neighbors (kNN) optimized on the test data:')
print(pd.DataFrame(confusion_matrix(y_true, y_pred),
      columns=['pred_pos', 'pred_neg'], index=['pos', 'neg']))
print('Run-time', datetime.now() - start)

##Lasso SVM

In [ ]:
pipeline = Pipeline([
                     ('scaler',StandardScaler),
                     ('model',Lasso())
])

In [ ]:
search = GridSearchCV(pipeline,
                      {'model__alpha':np.arange(0.1,2,0.1)},
                      cv=5,
                      scoring = 'neg_mean_squared_error',
                      verbose=3
                      )

In [ ]:
search.fit(X_train,y_train)

In [ ]:
search.best_params_

In [ ]:
coef = search.best_estimator_[1].coef_

In [ ]:
np.array(features)[coef!=0]         #  selected features

In [ ]:
np.array(features)[coef==0]         #  discarded features

In [ ]:
# def convertLabel(data):
# 	label_maker = LabelEncoder()
# 	data['Encode'] = label_maker.fit_transform(data['Class'])

loo = LeaveOneOut()
loo.get_n_splits(X)

for train_index, test_index in loo.split(X):                            #Use cross validation and make multiple splits of the datasets
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]

	fs = RandomForestClassifier(max_depth = 3, n_estimators=200, random_state=42)       #Make a random forest classifier
	fs.fit(X_train, y_train)
	ranking = dict(zip(snp, fs.feature_importances_))

	ranking = dict(itertools.islice(ranking.items(), n_features))                   #Take the top snps
	top_snp = list(ranking.keys())
	top_snp = np.asarray(top_snp)
	selected_snp = pd.DataFrame(top_snp)
	outfile = 'rf-svm/snp' + str(counter) + '.csv'
	selected_snp.to_csv(outfile, sep=' ', index=False)

	X_train = data.drop(test_index)                                         #Create training and testing data
	X_train = X_train[top_snp].values
	X_test = data.reindex(test_index)
	X_test = X_test[top_snp].values

	clf = SVC()                                                 #SVM 
	#clf = SVC(kernel=kernel, gamma=ep, C=c)
	clf.fit(X_train, y_train)
	tmp = clf.predict(X_test)
	y_pred.append(tmp)
	y_true.append(y_test)
	print (counter, '===========================')
	print('Prediction:', tmp)
	print('True label', y_test[0])

	counter = counter + 1

y_pred = np.asarray(y_pred)
y_true = np.asarray(y_true)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
print('ORDER:', order)
print('Number of SNP', n_features)
print('Parameter kernel', kernel)
print('Parameter gamma', ep)
print('Parameter C', c)
print('Accuracy using rf-svm', accuracy)
print('Precision using rf-svm', precision)
print('Recall using rf-svm', recall)
print('\nConfusion matrix of support vector machine (SVM) optimized on the test data:')
print(pd.DataFrame(confusion_matrix(y_true, y_pred),
    columns=['pred_pos', 'pred_neg'], index=['pos', 'neg']))
print('Run-time', datetime.now() - start)

##Lasso GBT

In [ ]:
pipeline = Pipeline([
                     ('scaler',StandardScaler),
                     ('model',Lasso())
])

In [ ]:
search = GridSearchCV(pipeline,
                      {'model__alpha':np.arange(0.1,2,0.1)},
                      cv=5,
                      scoring = 'neg_mean_squared_error',
                      verbose=3
                      )

In [ ]:
search.fit(X_train,y_train)

In [ ]:
search.best_params_

In [ ]:
coef = search.best_estimator_[1].coef_

In [ ]:
np.array(features)[coef!=0]         #  selected features

In [ ]:
np.array(features)[coef==0]         #  discarded features

#EXTRAS

##S1

In [ ]:
import pandas as pd
import numpy as np
import collections

In [ ]:
"""" 
	This script represents SNP as 1, 2, 3 for homozygous, heterozygous, and
	variant homozygous, respectively.
	Input:
		file: dataset/preprocessed_matrix.csv
				Cleaned SNP dataset
	
	Output:
		file: dataset/encoded_snp.csv
				Encoded SNP dataset
""""

file = 'dataset/preprocessed_matrix.csv'
data = pd.read_csv(file, sep = ' ')
data = data.set_index('usersid')
snps = data.columns
snps = snps[:-1]
data = data[snps]
n_samples = 128

allele_freq = []
hetero = 0
ind_hetero = []
counter = 0

for snp in snps:
	print('SNP NUMBER:', counter)
	genotype_count = data[snp].value_counts().to_dict()
	genotypes = data[snp].unique()
	n_genotypes = len(genotypes)
	genotypes = sorted(genotypes)

	if n_genotypes > 3:
		het1 = genotype_count[genotypes[1]]
		het2 = genotype_count[genotypes[2]]
		hetero = het1 + het2
		genotype_count[genotypes[1]] = hetero
		del genotype_count[genotypes[2]]
		genotypes.remove(genotypes[2])

	for key in genotype_count:
		genotype_count[key] = genotype_count[key]/n_samples
	print('Observation', genotype_count)
	genotype_count = collections.OrderedDict(sorted(genotype_count.items()))

	if len(genotypes) == 3:
		allele_A = genotype_count[genotypes[0]] + (genotype_count[genotypes[1]] * 0.5)
		allele_B = genotype_count[genotypes[2]] + (genotype_count[genotypes[1]] * 0.5)
		print('allele:', allele_A)
		print('allele', allele_B)
		if allele_B > allele_A:
			encode = np.array([3,2,1])
		else:
			encode = np.array([1,2,3])
	elif len(genotypes) == 2:
		encode = np.array([1,2])
	else:
		encode = np.array([1])

	genotype_dict = dict(zip(genotypes, encode))
	data[snp] = data[snp].map(genotype_dict)

	print(data[snp].head())
	counter = counter + 1

outfile = 'encoded_snp.csv'
data.to_csv(outfile, sep = ' ')

##S2

In [ ]:
DATAmap=pd.read_table('DATAjune.map',header=None)
ALL_SNPs_names=DATAmap[1].values
ALL_SNPs_chrs=DATAmap[0].values
ALL_SNPs_pos=DATAmap[3].values

In [ ]:
SNP_balls=np.load('SNP_all_balls.npy')
SNP_Jostins_balls=np.load('SNP_Jostins_balls.npy')
SNP_Jostins_balls_order=np.load('SNP_Jostins_balls_order.npy')

In [ ]:
All_SNP_QC=np.load('SNP_QC.npy')

presel_QC=np.unique((np.load('trainpresel_QC_union.npy')/2).astype(int))

SNP_QC=All_SNP_QC[presel_QC]

In [ ]:
# Number of fold for each model
Nfold=10

In [ ]:
weight_LR=np.load('feat_select_LR_QC_rand_HWcontrol_all_FOLD.npy')
gain_LGBM=np.load('feat_select_LGBM_QC_rand_HWcontrol_all_FOLD.npy')
gain_resnet=np.load('feat_select_ResNet_QC_rand_HWcontrol_all_FOLD.npy')
random_coeff=np.load('feat_select_rand_QC_rand_HWcontrol_all_FOLD.npy')
weight_Jostins_norm=np.load('weight_Jostins_norm.npy')

finding base on the positions

In [ ]:
# Defining globally defined windows of 500Kb starting from the beginning of DNA
size_wind=500000
# size_wind=200000
# size_wind=100000

In [ ]:
init_chrom=np.zeros((23,2))
init_fin=np.zeros(23)
for i in range(23):
    init_chrom[i,0]=np.sum(SNP_balls[:,0]<i+1).astype(int)
for i in range(1,23):  
    init_fin[i]=SNP_balls[(init_chrom[i,0]-1).astype(int),2]
init_fin=init_fin.astype(int)

init_chrom=init_chrom.astype(int)

correction_new_chrom=2*size_wind
for i in range(1,23):
    aaa=0
    for j in range(0,i+1):
        aaa=init_fin[j]+aaa+correction_new_chrom
    init_chrom[i,1]=aaa

In [ ]:
SNP_balls_centers=np.zeros((SNP_QC.shape[0],2))
SNP_balls_centers[:,0]=np.copy(SNP_balls[SNP_QC][:,0])
SNP_balls_centers[:,1]=np.copy((SNP_balls[SNP_QC][:,2]+SNP_balls[SNP_QC][:,1])/2)
SNP_balls_centers=SNP_balls_centers.astype(int)

In [ ]:
# coord of SNPs preselected, in terms of basis from beginning DNA
xxx=np.zeros(SNP_balls_centers.shape[0])
for i in range(SNP_balls_centers.shape[0]):
    xxx[i]=SNP_balls_centers[i,1]+init_chrom[SNP_balls_centers[i,0]-1,1]

In [ ]:
SNP_Jostins_balls_centers=np.zeros((SNP_Jostins_balls_order.shape[0],2))
SNP_Jostins_balls_centers[:,0]=np.copy(SNP_Jostins_balls_order[:,0])
SNP_Jostins_balls_centers[:,1]=np.copy((SNP_Jostins_balls_order[:,2]+SNP_Jostins_balls_order[:,1])/2)
SNP_Jostins_balls_centers=SNP_Jostins_balls_centers.astype(int)

In [ ]:
# coord of SNPs GWAS, in terms of basis from beginning DNA
xxx_jost=np.zeros(SNP_Jostins_balls_centers.shape[0])
for i in range(xxx_jost.shape[0]):
    xxx_jost[i]=SNP_Jostins_balls_centers[i,1]+init_chrom[SNP_Jostins_balls_centers[i,0]-1,1]

Building Windows

In [ ]:
LLL=xxx[-1]
x_basis_borders=np.arange(0,LLL+size_wind,size_wind)
x_basis=x_basis_borders[:-1]+size_wind/2

x_basis_borders_shift=np.arange(0,LLL+size_wind,size_wind)+size_wind/2
x_basis_shift=x_basis_borders_shift[:-1]+size_wind/2

Position base for presels and jostins

In [ ]:
# I build the mean on the folds of the coefficients 
y_LR_prel=np.mean(weight_LR,axis=0)
y_LGBM_prel=np.mean(gain_LGBM,axis=0)
y_ResNet_prel=np.mean(gain_resnet,axis=0)
y_Jost_prel=weight_Jostins_norm
y_rand_prel=np.mean(random_coeff,axis=0)

In [ ]:
# In which window, starting from the beginning, each SNP preselected is located
y_presel_pos=np.zeros(y_LR_prel.shape[0])

for j in range(y_LR_prel.shape[0]):
    y_presel_pos[j]=np.nonzero((xxx[j]>x_basis_borders))[0][-1]

y_presel_pos=y_presel_pos.astype(int)

# In which window, starting from the beginning, each SNP preselected is located - shifted by half window
y_presel_pos_shift=np.zeros(y_LR_prel.shape[0])

for j in range(y_LR_prel.shape[0]):
    y_presel_pos_shift[j]=np.nonzero((xxx[j]>x_basis_borders_shift))[0][-1]

y_presel_pos_shift=y_presel_pos_shift.astype(int)

In [ ]:
print('Number of independent windows for preselected SNPs: ',
      np.unique(y_presel_pos).shape[0])

In [ ]:
# In which window, starting from the beginning, each SNP of GWAS is located
y_Jost_pos=np.zeros(y_Jost_prel.shape[0])

for j in range(y_Jost_prel.shape[0]):
    y_Jost_pos[j]=np.nonzero((xxx_jost[j]>x_basis_borders))[0][-1]

y_Jost_pos=y_Jost_pos.astype(int)

# In which window, starting from the beginning, each SNP of Jostins is located - shifted
y_Jost_pos_shift=np.zeros(y_Jost_prel.shape[0])

for j in range(y_Jost_prel.shape[0]):
    y_Jost_pos_shift[j]=np.nonzero((xxx_jost[j]>x_basis_borders_shift))[0][-1]

y_Jost_pos_shift=y_Jost_pos_shift.astype(int)

In [ ]:
y_basis_count=np.zeros(x_basis.shape[0])
for i in range(x_basis.shape[0]):
    y_basis_count[i]=np.sum(y_presel_pos==i)
    
y_presel_count=y_basis_count[y_basis_count>0]

##S3

In [ ]:
import scipy.io as sio

In [ ]:
genomat = "/content/genodata.mat"
data_1=sio.loadmat(genomat)

In [ ]:
gen = data_1.keys()

In [ ]:
data_1["genotest"]

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=uint8)

##S4

In [ ]:
import pandas as pd
import numpy as np
import collections

# """
# 	This script represents SNP as 1, 2, 3 for homozygous, heterozygous, and
# 	variant homozygous, respectively.
# 	Input:
# 		file: dataset/preprocessed_matrix.csv
# 				Cleaned SNP dataset
	
# 	Output:
# 		file: dataset/encoded_snp.csv
# 				Encoded SNP dataset
# """

In [ ]:
file = '/content/drive/MyDrive/Identifying Diseases Using ML /preprocessed_matrix.csv'
data = pd.read_csv(file, sep = ' ')

data = data.set_index('usersid')
snps = data.columns
snps = snps[:-1]
data = data[snps]
n_samples = 128

In [ ]:
data.head()

,rs7541950,rs7541956,rs7542025,rs7542028,rs7542082,rs754217,rs7542208,rs7542239,rs754224,rs7542242,...,rs751062,rs751082,rs751104,rs751114,rs7511209,rs751128,rs7511306,rs7511364,rs751137,rs7511662
usersid,,,,,,,,,,,,,,,,,,,,,
user123,TT,GG,AG,CT,TT,CT,AG,AG,GG,CT,...,CT,CC,GT,GG,GG,TT,AA,AA,AA,CC
user285,TT,GG,AG,TT,TT,CC,AG,AG,GT,CT,...,CT,AC,GG,AG,GG,CT,AG,AG,AC,CC
user2849,CT,AG,AG,CC,CT,CC,AG,AA,GG,CC,...,CT,AC,TT,AG,GG,CT,GG,AG,AA,TT
user1,CC,GG,GG,CC,TT,CT,AG,AG,GG,CT,...,CC,AC,GT,AG,GG,CT,AA,GG,CC,CC
user26,CT,GG,GG,CC,CT,CT,GG,GG,GT,TT,...,CC,CC,TT,AG,GG,CT,GG,AA,AA,CT

In [ ]:
# snp = snps[0]
# y = data[snp].value_counts().to_dict()
# x = sorted(data[snp].unique())

In [ ]:
# h1 = y[x[1]]
# h2 = y[x[2]]
# h1+h2

# sorted(y.items())

# aA = y[x[0]]+ 0.5*y[x[1]]
# aB = y[x[2]]+ 0.5*y[x[1]]

# print('alleleA', aA)
# print('alleleB', aB)

In [ ]:
allele_freq = []
hetero = 0
ind_hetero = []
counter = 0

for snp in snps:
    print('SNP NUMBER:', counter)
    genotype_count = data[snp].value_counts().to_dict()     #Take the snp columns, and get the unique value counts ie the frequency of the users
    genotypes = data[snp].unique()                          #Genotypes is the array of unique snps               
    n_genotypes = len(genotypes)                            #Count of different types of genotypes
    genotypes = sorted(genotypes)
    if n_genotypes > 3:                                     #This condition is for making the heterozygous genotypes consistent
        het1 = genotype_count[genotypes[1]]                 #Count of hetero 1 
        het2 = genotype_count[genotypes[2]]                 #Count of hetero 2
        hetero = het1 + het2                                #Count of both heteros together
        genotype_count[genotypes[1]] = hetero               
        del genotype_count[genotypes[2]]
        genotypes.remove(genotypes[2])
    
    for key in genotype_count:                          #This is for normalizing the count?
        genotype_count[key] = genotype_count[key]/n_samples
    
    print('Observation', genotype_count)
    genotype_count = collections.OrderedDict(sorted(genotype_count.items()))

    if len(genotypes) == 3:
        allele_A = genotype_count[genotypes[0]] + (genotype_count[genotypes[1]] * 0.5)
        allele_B = genotype_count[genotypes[2]] + (genotype_count[genotypes[1]] * 0.5)
        print('allele:', allele_A)
        print('allele', allele_B)
        if allele_B > allele_A:
            encode = np.array([3,2,1])
        else:
            encode = np.array([1,2,3])
    
    elif len(genotypes) == 2:
        encode = np.array([1,2])
    else:
        encode = np.array([1,2])
    
    genotype_dict = dict(zip(genotypes, encode))
    data[snp] = data[snp].map(genotype_dict)
    print(data[snp].head())
    counter = counter + 1
    if counter>5000:
        break

outfile = 'encoded_snp.csv'
data.to_csv(outfile, sep = ' ')

Streaming output truncated to the last 5000 lines.
Observation {'CT': 0.4921875, 'CC': 0.3828125, 'TT': 0.125}
allele: 0.62890625
allele 0.37109375
usersid
user123     2.0
user285     1.0
user2849    1.0
user1       3.0
user26      1.0
Name: rs7032559, dtype: float64
SNP NUMBER: 4545
Observation {'CT': 0.4453125, 'TT': 0.3828125, 'CC': 0.171875}
allele: 0.39453125
allele 0.60546875
usersid
user123     2
user285     1
user2849    3
user1       3
user26      3
Name: rs703256, dtype: int64
SNP NUMBER: 4546
Observation {'TT': 0.75, 'CT': 0.21875, 'CC': 0.03125}
allele: 0.140625
allele 0.859375
usersid
user123     1
user285     2
user2849    1
user1       1
user26      1
Name: rs7032583, dtype: int64
SNP NUMBER: 4547
Observation {'TT': 0.546875, 'CT': 0.4296875, 'CC': 0.0234375}
allele: 0.23828125
allele 0.76171875
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs7032620, dtype: int64
SNP NUMBER: 4548
Observation {'TT': 0.4609375, 'CT': 0.4140625, 'CC': 0.125}
allele: 0.33203125
allele 0.66796875
usersid
user123     1.0
user285     2.0
user2849    2.0
user1       2.0
user26      2.0
Name: rs7032759, dtype: float64
SNP NUMBER: 4549
Observation {'CC': 0.4296875, 'CT': 0.4140625, 'TT': 0.15625}
allele: 0.63671875
allele 0.36328125
usersid
user123     2.0
user285     2.0
user2849    3.0
user1       1.0
user26      1.0
Name: rs7032817, dtype: float64
SNP NUMBER: 4550
Observation {'AA': 0.7734375, 'AG': 0.21875, 'GG': 0.0078125}
allele: 0.8828125
allele 0.1171875
usersid
user123     2
user285     1
user2849    2
user1       1
user26      1
Name: rs7032927, dtype: int64
SNP NUMBER: 4551
Observation {'CT': 0.4921875, 'TT': 0.28125, 'CC': 0.2265625}
allele: 0.47265625
allele 0.52734375
usersid
user123     1.0
user285     3.0
user2849    2.0
user1       1.0
user26      2.0
Name: rs703297, dtype: float64
SNP NUMBER: 4552
Observation {'TT': 0.71875, 'CT': 0.25, 'CC': 0.03125}
allele: 0.15625
allele 0.84375
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs7033016, dtype: float64
SNP NUMBER: 4553
Observation {'GG': 0.5703125, 'AG': 0.34375, 'AA': 0.0859375}
allele: 0.2578125
allele 0.7421875
usersid
user123     1
user285     2
user2849    2
user1       2
user26      1
Name: rs703313, dtype: int64
SNP NUMBER: 4554
Observation {'GT': 0.5546875, 'GG': 0.2265625, 'TT': 0.21875}
allele: 0.50390625
allele 0.49609375
usersid
user123     2.0
user285     2.0
user2849    2.0
user1       2.0
user26      2.0
Name: rs703316, dtype: float64
SNP NUMBER: 4555
Observation {'CC': 0.921875, 'CT': 0.0703125, 'TT': 0.0078125}
allele: 0.95703125
allele 0.04296875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7033311, dtype: int64
SNP NUMBER: 4556
Observation {'TT': 0.4765625, 'CT': 0.3515625, 'CC': 0.171875}
allele: 0.34765625
allele 0.65234375
usersid
user123     3
user285     1
user2849    2
user1       2
user26      2
Name: rs7033354, dtype: int64
SNP NUMBER: 4557
Observation {'TT': 0.59375, 'CT': 0.34375, 'CC': 0.0625}
allele: 0.234375
allele 0.765625
usersid
user123     2
user285     2
user2849    1
user1       1
user26      2
Name: rs7033360, dtype: int64
SNP NUMBER: 4558
Observation {'GG': 0.5078125, 'AG': 0.4140625, 'AA': 0.078125}
allele: 0.28515625
allele 0.71484375
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs7033404, dtype: int64
SNP NUMBER: 4559
Observation {'GG': 0.7578125, 'AG': 0.203125, 'AA': 0.0390625}
allele: 0.140625
allele 0.859375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7033413, dtype: int64
SNP NUMBER: 4560
Observation {'TT': 0.609375, 'CT': 0.3046875, 'CC': 0.0859375}
allele: 0.23828125
allele 0.76171875
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      2.0
Name: rs7033416, dtype: float64
SNP NUMBER: 4561
Observation {'GG': 0.546875, 'AG': 0.3984375, 'AA': 0.0546875}
allele: 0.25390625
allele 0.74609375
usersid
user123     1
user285     1
user2849    2
user1       3
user26      1
Name: rs703343, dtype: int64
SNP NUMBER: 4562
Observation {'TT': 0.484375, 'CT': 0.421875, 'CC': 0.09375}
allele: 0.3046875
allele 0.6953125
usersid
user123     1
user285     1
user2849    2
user1       2
user26      1
Name: rs7033439, dtype: int64
SNP NUMBER: 4563
Observation {'AC': 0.4296875, 'CC': 0.34375, 'AA': 0.2265625}
allele: 0.44140625
allele 0.55859375
usersid
user123     2
user285     2
user2849    2
user1       3
user26      2
Name: rs7033444, dtype: int64
SNP NUMBER: 4564
Observation {'TT': 0.4921875, 'CT': 0.390625, 'CC': 0.1171875}
allele: 0.3125
allele 0.6875
usersid
user123     1
user285     2
user2849    3
user1       2
user26      2
Name: rs7033449, dtype: int64
SNP NUMBER: 4565
Observation {'TT': 0.6015625, 'CT': 0.359375, 'CC': 0.0390625}
allele: 0.21875
allele 0.78125
usersid
user123     1.0
user285     2.0
user2849    2.0
user1       2.0
user26      1.0
Name: rs7033457, dtype: float64
SNP NUMBER: 4566
Observation {'TT': 0.4296875, 'CT': 0.40625, 'CC': 0.1640625}
allele: 0.3671875
allele 0.6328125
usersid
user123     2.0
user285     2.0
user2849    2.0
user1       2.0
user26      2.0
Name: rs7033598, dtype: float64
SNP NUMBER: 4567
Observation {'TT': 0.6484375, 'CT': 0.2890625, 'CC': 0.0625}
allele: 0.20703125
allele 0.79296875
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs703361, dtype: float64
SNP NUMBER: 4568
Observation {'AG': 0.5, 'GG': 0.3515625, 'AA': 0.1484375}
allele: 0.3984375
allele 0.6015625
usersid
user123     3
user285     3
user2849    2
user1       3
user26      2
Name: rs7033621, dtype: int64
SNP NUMBER: 4569
Observation {'AA': 0.5390625, 'AG': 0.3828125, 'GG': 0.078125}
allele: 0.73046875
allele 0.26953125
usersid
user123     1
user285     1
user2849    2
user1       2
user26      2
Name: rs7033716, dtype: int64
SNP NUMBER: 4570
Observation {'TT': 0.8671875, 'CT': 0.125, 'CC': 0.0078125}
allele: 0.0703125
allele 0.9296875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs703393, dtype: int64
SNP NUMBER: 4571
Observation {'CC': 0.6875, 'CT': 0.2890625, 'TT': 0.0234375}
allele: 0.83203125
allele 0.16796875
usersid
user123     1
user285     1
user2849    1
user1       1
user26      2
Name: rs7034018, dtype: int64
SNP NUMBER: 4572
Observation {'CC': 0.8359375, 'CT': 0.15625, 'TT': 0.0078125}
allele: 0.9140625
allele 0.0859375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs703405, dtype: int64
SNP NUMBER: 4573
Observation {'AG': 0.4765625, 'AA': 0.4453125, 'GG': 0.078125}
allele: 0.68359375
allele 0.31640625
usersid
user123     2
user285     1
user2849    2
user1       2
user26      2
Name: rs7034160, dtype: int64
SNP NUMBER: 4574
Observation {'CC': 0.953125, 'CT': 0.046875}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7034210, dtype: int64
SNP NUMBER: 4575
Observation {'TT': 0.734375, 'GT': 0.2578125, 'GG': 0.0078125}
allele: 0.13671875
allele 0.86328125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      2
Name: rs7034231, dtype: int64
SNP NUMBER: 4576
Observation {'TT': 0.625, 'CT': 0.34375, 'CC': 0.03125}
allele: 0.203125
allele 0.796875
usersid
user123     1.0
user285     2.0
user2849    1.0
user1       2.0
user26      1.0
Name: rs7034265, dtype: float64
SNP NUMBER: 4577
Observation {'AA': 0.953125, 'AG': 0.046875}
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7034300, dtype: int64
SNP NUMBER: 4578
Observation {'CC': 0.734375, 'CT': 0.2265625, 'TT': 0.0390625}
allele: 0.84765625
allele 0.15234375
usersid
user123     2
user285     2
user2849    2
user1       1
user26      1
Name: rs7034341, dtype: int64
SNP NUMBER: 4579
Observation {'GT': 0.5078125, 'GG': 0.3046875, 'TT': 0.1875}
allele: 0.55859375
allele 0.44140625
usersid
user123     2.0
user285     2.0
user2849    2.0
user1       1.0
user26      3.0
Name: rs7034380, dtype: float64
SNP NUMBER: 4580
Observation {'AG': 0.484375, 'AA': 0.375, 'GG': 0.140625}
allele: 0.6171875
allele 0.3828125
usersid
user123     2
user285     3
user2849    1
user1       2
user26      2
Name: rs7034414, dtype: int64
SNP NUMBER: 4581
Observation {'AA': 0.5078125, 'AG': 0.359375, 'GG': 0.1328125}
allele: 0.6875
allele 0.3125
usersid
user123     2
user285     1
user2849    1
user1       2
user26      1
Name: rs7034450, dtype: int64
SNP NUMBER: 4582
Observation {'TT': 0.4609375, 'CT': 0.4453125, 'CC': 0.09375}
allele: 0.31640625
allele 0.68359375
usersid
user123     2
user285     1
user2849    1
user1       1
user26      2
Name: rs7034486, dtype: int64
SNP NUMBER: 4583
Observation {'AG': 0.4765625, 'GG': 0.296875, 'AA': 0.2265625}
allele: 0.46484375
allele 0.53515625
usersid
user123     2
user285     2
user2849    1
user1       2
user26      2
Name: rs7034505, dtype: int64
SNP NUMBER: 4584
Observation {'GG': 0.71875, 'AG': 0.265625, 'AA': 0.015625}
allele: 0.1484375
allele 0.8515625
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7034635, dtype: int64
SNP NUMBER: 4585
Observation {'AA': 0.7734375, 'AG': 0.2109375, 'GG': 0.015625}
allele: 0.87890625
allele 0.12109375
usersid
user123     1
user285     2
user2849    1
user1       1
user26      2
Name: rs7034647, dtype: int64
SNP NUMBER: 4586
Observation {'GG': 0.765625, 'GT': 0.21875, 'TT': 0.015625}
allele: 0.875
allele 0.125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7034715, dtype: int64
SNP NUMBER: 4587
Observation {'TT': 0.4609375, 'CT': 0.4296875, 'CC': 0.109375}
allele: 0.32421875
allele 0.67578125
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs7034728, dtype: int64
SNP NUMBER: 4588
Observation {'CT': 0.484375, 'TT': 0.265625, 'CC': 0.25}
allele: 0.4921875
allele 0.5078125
usersid
user123     2.0
user285     2.0
user2849    3.0
user1       3.0
user26      1.0
Name: rs703479, dtype: float64
SNP NUMBER: 4589
Observation {'TT': 0.890625, 'GT': 0.1015625, 'GG': 0.0078125}
allele: 0.05859375
allele 0.94140625
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7034799, dtype: int64
SNP NUMBER: 4590
Observation {'GT': 0.4453125, 'GG': 0.3515625, 'TT': 0.203125}
allele: 0.57421875
allele 0.42578125
usersid
user123     1
user285     2
user2849    2
user1       1
user26      2
Name: rs7034837, dtype: int64
SNP NUMBER: 4591
Observation {'CC': 0.609375, 'CT': 0.3359375, 'TT': 0.0546875}
allele: 0.77734375
allele 0.22265625
usersid
user123     1.0
user285     2.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs7034929, dtype: float64
SNP NUMBER: 4592
Observation {'AA': 0.546875, 'AG': 0.3984375, 'GG': 0.0546875}
allele: 0.74609375
allele 0.25390625
usersid
user123     2
user285     1
user2849    2
user1       1
user26      1
Name: rs7034934, dtype: int64
SNP NUMBER: 4593
Observation {'AG': 0.5, 'GG': 0.4140625, 'AA': 0.0859375}
allele: 0.3359375
allele 0.6640625
usersid
user123     2
user285     2
user2849    1
user1       2
user26      1
Name: rs7035046, dtype: int64
SNP NUMBER: 4594
Observation {'AG': 0.484375, 'GG': 0.3515625, 'AA': 0.1640625}
allele: 0.40625
allele 0.59375
usersid
user123     2
user285     2
user2849    1
user1       1
user26      2
Name: rs7035049, dtype: int64
SNP NUMBER: 4595
Observation {'AG': 0.5859375, 'AA': 0.328125, 'GG': 0.0859375}
allele: 0.62109375
allele 0.37890625
usersid
user123     2
user285     1
user2849    2
user1       1
user26      2
Name: rs703505, dtype: int64
SNP NUMBER: 4596
Observation {'GG': 0.8203125, 'AG': 0.15625, 'AA': 0.0234375}
allele: 0.1015625
allele 0.8984375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7035188, dtype: int64
SNP NUMBER: 4597
Observation {'GG': 0.71875, 'AG': 0.2421875, 'AA': 0.0390625}
allele: 0.16015625
allele 0.83984375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7035264, dtype: int64
SNP NUMBER: 4598
Observation {'AA': 0.765625, 'AG': 0.21875, 'GG': 0.015625}
allele: 0.875
allele 0.125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7035270, dtype: int64
SNP NUMBER: 4599
Observation {'TT': 0.7421875, 'CT': 0.234375, 'CC': 0.0234375}
allele: 0.140625
allele 0.859375
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs7035276, dtype: int64
SNP NUMBER: 4600
Observation {'CT': 0.5390625, 'TT': 0.3671875, 'CC': 0.09375}
allele: 0.36328125
allele 0.63671875
usersid
user123     2.0
user285     1.0
user2849    2.0
user1       1.0
user26      1.0
Name: rs7035287, dtype: float64
SNP NUMBER: 4601
Observation {'AA': 0.6015625, 'AG': 0.34375, 'GG': 0.0546875}
allele: 0.7734375
allele 0.2265625
usersid
user123     2
user285     1
user2849    2
user1       1
user26      1
Name: rs7035494, dtype: int64
SNP NUMBER: 4602
Observation {'CC': 0.875, 'CT': 0.109375, 'TT': 0.015625}
allele: 0.9296875
allele 0.0703125
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs7035549, dtype: int64
SNP NUMBER: 4603
Observation {'AG': 0.5078125, 'GG': 0.3984375, 'AA': 0.09375}
allele: 0.34765625
allele 0.65234375
usersid
user123     1
user285     2
user2849    2
user1       2
user26      3
Name: rs7035551, dtype: int64
SNP NUMBER: 4604
Observation {'AG': 0.453125, 'AA': 0.40625, 'GG': 0.140625}
allele: 0.6328125
allele 0.3671875
usersid
user123     1
user285     2
user2849    2
user1       1
user26      2
Name: rs7035592, dtype: int64
SNP NUMBER: 4605
Observation {'CT': 0.484375, 'CC': 0.421875, 'TT': 0.09375}
allele: 0.6640625
allele 0.3359375
usersid
user123     1.0
user285     2.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs7035616, dtype: float64
SNP NUMBER: 4606
Observation {'CC': 0.8515625, 'CT': 0.140625, 'TT': 0.0078125}
allele: 0.921875
allele 0.078125
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       2.0
user26      1.0
Name: rs7035682, dtype: float64
SNP NUMBER: 4607
Observation {'GG': 0.59375, 'AG': 0.3359375, 'AA': 0.0703125}
allele: 0.23828125
allele 0.76171875
usersid
user123     2
user285     2
user2849    1
user1       3
user26      1
Name: rs7035689, dtype: int64
SNP NUMBER: 4608
Observation {'CC': 0.65625, 'AC': 0.2890625, 'AA': 0.0546875}
allele: 0.19921875
allele 0.80078125
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs703575, dtype: int64
SNP NUMBER: 4609
Observation {'AG': 0.5859375, 'GG': 0.328125, 'AA': 0.0859375}
allele: 0.37890625
allele 0.62109375
usersid
user123     2
user285     1
user2849    2
user1       2
user26      2
Name: rs7035838, dtype: int64
SNP NUMBER: 4610
Observation {'CC': 0.84375, 'CT': 0.140625, 'TT': 0.015625}
allele: 0.9140625
allele 0.0859375
usersid
user123     1
user285     1
user2849    1
user1       2
user26      1
Name: rs7035858, dtype: int64
SNP NUMBER: 4611
Observation {'CT': 0.4609375, 'CC': 0.390625, 'TT': 0.1484375}
allele: 0.62109375
allele 0.37890625
usersid
user123     2.0
user285     2.0
user2849    1.0
user1       2.0
user26      1.0
Name: rs7035953, dtype: float64
SNP NUMBER: 4612
Observation {'CC': 0.6484375, 'AC': 0.34375, 'AA': 0.0078125}
allele: 0.1796875
allele 0.8203125
usersid
user123     1
user285     1
user2849    2
user1       1
user26      1
Name: rs703596, dtype: int64
SNP NUMBER: 4613
Observation {'CC': 0.5234375, 'CT': 0.40625, 'TT': 0.0703125}
allele: 0.7265625
allele 0.2734375
usersid
user123     2
user285     2
user2849    1
user1       2
user26      2
Name: rs7035981, dtype: int64
SNP NUMBER: 4614
Observation {'CT': 0.546875, 'CC': 0.234375, 'TT': 0.21875}
allele: 0.5078125
allele 0.4921875
usersid
user123     1.0
user285     3.0
user2849    3.0
user1       2.0
user26      2.0
Name: rs7036006, dtype: float64
SNP NUMBER: 4615
Observation {'CC': 0.7109375, 'CT': 0.2734375, 'TT': 0.015625}
allele: 0.84765625
allele 0.15234375
usersid
user123     2.0
user285     1.0
user2849    2.0
user1       2.0
user26      1.0
Name: rs7036030, dtype: float64
SNP NUMBER: 4616
Observation {'CT': 0.4921875, 'TT': 0.359375, 'CC': 0.1484375}
allele: 0.39453125
allele 0.60546875
usersid
user123     1
user285     2
user2849    2
user1       2
user26      2
Name: rs7036035, dtype: int64
SNP NUMBER: 4617
Observation {'GG': 0.609375, 'AG': 0.34375, 'AA': 0.046875}
allele: 0.21875
allele 0.78125
usersid
user123     2
user285     1
user2849    1
user1       1
user26      1
Name: rs7036106, dtype: int64
SNP NUMBER: 4618
Observation {'TT': 0.5859375, 'GT': 0.390625, 'GG': 0.0234375}
allele: 0.21875
allele 0.78125
usersid
user123     1.0
user285     1.0
user2849    2.0
user1       2.0
user26      1.0
Name: rs703611, dtype: float64
SNP NUMBER: 4619
Observation {'GG': 0.578125, 'AG': 0.3671875, 'AA': 0.0546875}
allele: 0.23828125
allele 0.76171875
usersid
user123     2
user285     1
user2849    1
user1       2
user26      1
Name: rs7036142, dtype: int64
SNP NUMBER: 4620
Observation {'CT': 0.5234375, 'TT': 0.2421875, 'CC': 0.234375}
allele: 0.49609375
allele 0.50390625
usersid
user123     2
user285     1
user2849    3
user1       2
user26      2
Name: rs703616, dtype: int64
SNP NUMBER: 4621
Observation {'GG': 0.46875, 'AA': 0.5234375, '0': 0.0078125}
allele: 0.26953125
allele 0.73046875
usersid
user123     NaN
user285     1.0
user2849    NaN
user1       1.0
user26      NaN
Name: rs7036161, dtype: float64
SNP NUMBER: 4622
Observation {'GG': 0.515625, 'AG': 0.4375, 'AA': 0.046875}
allele: 0.265625
allele 0.734375
usersid
user123     2
user285     1
user2849    1
user1       2
user26      3
Name: rs7036164, dtype: int64
SNP NUMBER: 4623
Observation {'GG': 0.78125, 'AG': 0.2109375, 'AA': 0.0078125}
allele: 0.11328125
allele 0.88671875
usersid
user123     2
user285     2
user2849    2
user1       1
user26      1
Name: rs7036324, dtype: int64
SNP NUMBER: 4624
Observation {'CC': 0.5078125, 'CT': 0.40625, 'TT': 0.0859375}
allele: 0.7109375
allele 0.2890625
usersid
user123     2
user285     3
user2849    3
user1       2
user26      2
Name: rs6914436, dtype: int64
SNP NUMBER: 4625
Observation {'CC': 0.65625, 'CT': 0.3046875, 'TT': 0.0390625}
allele: 0.80859375
allele 0.19140625
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       1.0
user26      1.0
Name: rs6914528, dtype: float64
SNP NUMBER: 4626
Observation {'AG': 0.5625, 'GG': 0.2734375, 'AA': 0.1640625}
allele: 0.4453125
allele 0.5546875
usersid
user123     1
user285     1
user2849    3
user1       2
user26      3
Name: rs6914547, dtype: int64
SNP NUMBER: 4627
Observation {'AG': 0.4921875, 'AA': 0.296875, 'GG': 0.2109375}
allele: 0.54296875
allele 0.45703125
usersid
user123     2
user285     3
user2849    2
user1       1
user26      2
Name: rs6914621, dtype: int64
SNP NUMBER: 4628
Observation {'CT': 0.4765625, 'TT': 0.359375, 'CC': 0.1640625}
allele: 0.40234375
allele 0.59765625
usersid
user123     1.0
user285     1.0
user2849    2.0
user1       1.0
user26      3.0
Name: rs691483, dtype: float64
SNP NUMBER: 4629
Observation {'CC': 0.4765625, 'CT': 0.4375, 'TT': 0.0859375}
allele: 0.6953125
allele 0.3046875
usersid
user123     1.0
user285     1.0
user2849    1.0
user1       2.0
user26      2.0
Name: rs6914864, dtype: float64
SNP NUMBER: 4630
Observation {'GG': 0.7109375, 'AG': 0.2578125, 'AA': 0.03125}
allele: 0.16015625
allele 0.83984375
usersid
user123     1
user285     1
user2849    1
user1       1
user26      1
Name: rs6914876, dtype: int64
SNP NUMBER: 4631
Observation {'CT': 0.4921875, 'CC': 0.3203125, 'TT': 0.1875}
allele: 0.56640625
allele 0.43359375
usersid
user123     1
user285     2
user2849    1
user1       2
user26      1
Name: rs6914891, dtype: int64
SNP NUMBER: 4632
Observation {'GG': 0.4609375, 'AG': 0.4375, 'AA': 0.1015625}
allele: 0.3203125
allele 0.6796875
usersid
user123     1
user285     2
user2849    2
user1       2
user26      2
Name: rs6914898, dtype: int64
SNP NUMBER: 4633

In [ ]:
outfile = 'encoded_snp2.csv'
data.to_csv(outfile, sep = ',')

In [ ]:
import warnings
warnings.filterwarnings('ignore')
import glob
import numpy as np
import pandas as pd
import itertools


from datetime import datetime
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import LeaveOneOut
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

In [ ]:
from numpy import random

In [ ]:
def convertLabel(data):
	label_maker = LabelEncoder()
	data['Encode'] = label_maker.fit_transform(data['Class'])

def knn(X_train, y_train, X_test):
	scaler = StandardScaler()  
	scaler.fit(X_train)

	X_train = scaler.transform(X_train)  
	X_test = scaler.transform(X_test)

	classifier = KNeighborsClassifier(n_neighbors=k)  
	classifier.fit(X_train, y_train) 
	return classifier.predict(X_test)

In [ ]:
start = datetime.now()
data_file = '/content/drive/MyDrive/Identifying Diseases Using ML /encoded_5000snp2.csv'
data = pd.read_csv(data_file, sep = ',')
data = data.drop('usersid', axis=1)
data = data.replace(np.NaN, 0)


correct = 0
mismatch = 0
y_pred = []
n_features = 400
k = 7
counter = 0
n_samples = 128
y_true = []


snp = data.columns.values
snp = snp[:-1]
X = data[snp].values

In [ ]:
data["Class"] = 0
for i in range(len(data)):
    data["Class"][i] = random.randint(2)

print(data["Class"].nunique())

In [ ]:
convertLabel(data)
y = data['Encode'].values

In [ ]:
d = data.items()
datadict = {}
counter = 1
for item in d:
    datadict[item[0]] = item[1]
    counter = counter+1
    if counter>5000:
        break

In [ ]:
data2 = pd.DataFrame.from_dict(datadict)

In [ ]:
data2["Class"] = data["Class"]

In [ ]:
convertLabel(data2)
y = data2['Encode'].values

In [ ]:
snp = data2.columns.values
snp = snp[:-1]
X = data2[snp].values

In [ ]:
loo = LeaveOneOut()
loo.get_n_splits(X)


for train_index, test_index in loo.split(X):
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]

	fs = RandomForestClassifier(max_features = 500, n_estimators=200, random_state=42)
	fs.fit(X_train, y_train)
	ranking = dict(zip(snp, fs.feature_importances_))
	ranking = dict(itertools.islice(ranking.items(), n_features))
	top_snp = list(ranking.keys())
	top_snp = np.asarray(top_snp)

	X_train = data.drop(test_index)
	X_train = X_train[top_snp].values
	X_test = data.reindex(test_index)
	X_test = X_test[top_snp].values

	tmp = knn(X_train, y_train, X_test)
	
	y_pred.append(tmp[0])
	y_true.append(y_test)
	print (counter, '===========================')
	print('Prediction:', tmp)
	print('True label', y_test[0])

	counter = counter + 1
	

y_pred = np.asarray(y_pred)
y_true = np.asarray(y_true)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
print('Number of SNPs:', n_features)
print('Accuracy using of rf-knn', accuracy)
print('Precision using of rf-knn', accuracy)
print('Recall using of rf-knn', accuracy)
print('\nConfusion matrix of k-nearest neighbors (kNN) optimized on the test data:')
print(pd.DataFrame(confusion_matrix(y_true, y_pred),
      columns=['pred_pos', 'pred_neg'], index=['pos', 'neg']))
print('Run-time', datetime.now() - start)

5001 ===========================
Prediction: [1]
True label 0
5002 ===========================
Prediction: [1]
True label 1
5003 ===========================
Prediction: [0]
True label 1
5004 ===========================
Prediction: [0]
True label 1
5005 ===========================
Prediction: [1]
True label 0
5006 ===========================
Prediction: [1]
True label 1
5007 ===========================
Prediction: [1]
True label 0
5008 ===========================
Prediction: [1]
True label 1
5009 ===========================
Prediction: [1]
True label 0
5010 ===========================
Prediction: [0]
True label 1
5011 ===========================
Prediction: [1]
True label 0
5012 ===========================
Prediction: [1]
True label 0
5013 ===========================
Prediction: [1]
True label 1
5014 ===========================
Prediction: [1]
True label 1
5015 ===========================
Prediction: [1]
True label 1
5016 ===========================
Prediction: [0]
True label 1
5017 ===========================
Prediction: [1]
True label 0
5018 ===========================
Prediction: [1]
True label 1
5019 ===========================
Prediction: [1]
True label 0
5020 ===========================
Prediction: [1]
True label 1
5021 ===========================
Prediction: [1]
True label 0
5022 ===========================
Prediction: [1]
True label 1
5023 ===========================
Prediction: [1]
True label 1
5024 ===========================
Prediction: [1]
True label 1
5025 ===========================
Prediction: [1]
True label 1
5026 ===========================
Prediction: [1]
True label 0
5027 ===========================
Prediction: [1]
True label 1
5028 ===========================
Prediction: [1]
True label 0
5029 ===========================
Prediction: [1]
True label 1
5030 ===========================
Prediction: [1]
True label 0
5031 ===========================
Prediction: [1]
True label 1
5032 ===========================
Prediction: [1]
True label 1
5033 ===========================
Prediction: [1]
True label 1
5034 ===========================
Prediction: [0]
True label 0
5035 ===========================
Prediction: [1]
True label 0
5036 ===========================
Prediction: [1]
True label 0
5037 ===========================
Prediction: [1]
True label 0
5038 ===========================
Prediction: [1]
True label 1
5039 ===========================
Prediction: [1]
True label 1
5040 ===========================
Prediction: [1]
True label 0
5041 ===========================
Prediction: [1]
True label 1
5042 ===========================
Prediction: [1]
True label 0
5043 ===========================
Prediction: [1]
True label 1
5044 ===========================
Prediction: [1]
True label 1
5045 ===========================
Prediction: [1]
True label 1
5046 ===========================
Prediction: [1]
True label 0
5047 ===========================
Prediction: [1]
True label 1
5048 ===========================
Prediction: [0]
True label 0
5049 ===========================
Prediction: [1]
True label 1
5050 ===========================
Prediction: [1]
True label 0
5051 ===========================
Prediction: [1]
True label 1
5052 ===========================
Prediction: [1]
True label 1
5053 ===========================
Prediction: [1]
True label 1
5054 ===========================
Prediction: [1]
True label 1
5055 ===========================
Prediction: [0]
True label 0
5056 ===========================
Prediction: [1]
True label 0
5057 ===========================
Prediction: [1]
True label 0
5058 ===========================
Prediction: [1]
True label 0
5059 ===========================
Prediction: [1]
True label 1
5060 ===========================
Prediction: [1]
True label 1
5061 ===========================
Prediction: [1]
True label 1
5062 ===========================
Prediction: [0]
True label 1
5063 ===========================
Prediction: [0]
True label 1
5064 ===========================
Prediction: [1]
True label 1
5065 ===========================
Prediction: [1]
True label 0
5066 ===========================
Prediction: [1]
True label 0
5067 ===========================
Prediction: [1]
True label 0
5068 ===========================
Prediction: [1]
True label 1
5069 ===========================
Prediction: [1]
True label 0
5070 ===========================
Prediction: [1]
True label 0
5071 ===========================
Prediction: [1]
True label 0
5072 ===========================
Prediction: [0]
True label 1
5073 ===========================
Prediction: [0]
True label 0
5074 ===========================
Prediction: [1]
True label 0
5075 ===========================
Prediction: [1]
True label 1
5076 ===========================
Prediction: [1]
True label 1
5077 ===========================
Prediction: [1]
True label 1
5078 ===========================
Prediction: [1]
True label 1
5079 ===========================
Prediction: [1]
True label 1
5080 ===========================
Prediction: [1]
True label 1
5081 ===========================
Prediction: [1]
True label 0
5082 ===========================
Prediction: [1]
True label 1
5083 ===========================
Prediction: [1]
True label 1
5084 ===========================
Prediction: [1]
True label 1
5085 ===========================
Prediction: [1]
True label 0
5086 ===========================
Prediction: [0]
True label 1
5087 ===========================
Prediction: [1]
True label 1
5088 ===========================
Prediction: [1]
True label 1
5089 ===========================
Prediction: [1]
True label 0
5090 ===========================
Prediction: [0]
True label 1
5091 ===========================
Prediction: [0]
True label 0
5092 ===========================
Prediction: [1]
True label 1
5093 ===========================
Prediction: [0]
True label 0
5094 ===========================
Prediction: [1]
True label 0
5095 ===========================
Prediction: [1]
True label 1
5096 ===========================
Prediction: [1]
True label 1
5097 ===========================
Prediction: [1]
True label 1
5098 ===========================
Prediction: [1]
True label 1
5099 ===========================
Prediction: [1]
True label 0
5100 ===========================
Prediction: [1]
True label 1
5101 ===========================
Prediction: [0]
True label 1
5102 ===========================
Prediction: [1]
True label 0
5103 ===========================
Prediction: [1]
True label 1
5104 ===========================
Prediction: [0]
True label 0
5105 ===========================
Prediction: [1]
True label 0
5106 ===========================
Prediction: [0]
True label 0
5107 ===========================
Prediction: [0]
True label 0
5108 ===========================
Prediction: [1]
True label 1
5109 ===========================
Prediction: [1]
True label 1
5110 ===========================
Prediction: [1]
True label 1
5111 ===========================
Prediction: [1]
True label 0
5112 ===========================
Prediction: [1]
True label 1
5113 ===========================
Prediction: [1]
True label 0
5114 ===========================
Prediction: [0]
True label 0
5115 ===========================
Prediction: [1]
True label 0
5116 ===========================
Prediction: [0]
True label 0
5117 ===========================
Prediction: [1]
True label 0
5118 ===========================
Prediction: [1]
True label 1
5119 ===========================
Prediction: [1]
True label 1
5120 ===========================
Prediction: [1]
True label 1
5121 ===========================
Prediction: [1]
True label 1
5122 ===========================
Prediction: [1]
True label 0
5123 ===========================
Prediction: [1]
True label 1
5124 ===========================
Prediction: [1]
True label 1
5125 ===========================
Prediction: [1]
True label 1
5126 ===========================
Prediction: [1]
True label 0
5127 ===========================
Prediction: [0]
True label 1
5128 ===========================
Prediction: [1]
True label 1
Number of SNPs: 400
Accuracy using of rf-knn 0.5859375
Precision using of rf-knn 0.5859375
Recall using of rf-knn 0.5859375

Confusion matrix of k-nearest neighbors (kNN) optimized on the test data:
     pred_pos  pred_neg
pos        11        42
neg        11        64
Run-time 0:33:16.252258